
@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>绑定上级</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no, viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" href="~/Content/Files/注册_files/mui.min.css">
    <link rel="stylesheet" href="~/Content/Files/注册_files/iconfont.css">
    <link rel="stylesheet" href="~/Content/Files/注册_files/style.css">
    <script type="text/javascript" src="~/Content/Files/注册_files/jquery-2.2.3.min.js"></script>
    <script type="text/javascript" src="~/Content/Files/注册_files/mui.min.js"></script>
    <script type="text/javascript" src="~/Content/Files/注册_files/jquery.func.js"></script>
    <script type="text/javascript" src="~/Content/Files/注册_files/jquery.form.js"></script>    
</head>



<body class="mui-ios mui-ios-11 mui-ios-11-0">
    <div class="mui-content">
        <form method="post" action="/Api/BindLeader" id="registerForm">
            <input type="hidden" id="gourl" value="/index/member/index.html">
            <div class="mui-input-group mt10">
                <div class="mui-input-row">
                    <label>上级用户手机号</label>
                    <input type="tel" class="mui-input-clear" id="telephone" name="mobile" placeholder="请输入手机号码" maxlength="11" data-input-clear="1"><span class="mui-icon mui-icon-clear mui-hidden"></span>
                </div>
                @*<div class="mui-input-row">
                        <label>昵  称</label>
                        <input type="tel" class="mui-input-clear" id="telephone" name="NickName" placeholder="请输入手机号码" maxlength="11" data-input-clear="1"><span class="mui-icon mui-icon-clear mui-hidden"></span>
                    </div>
                    <div class="mui-input-row">
                        <label>真实名称</label>
                        <input type="tel" class="mui-input-clear" id="telephone" name="RealName" placeholder="请输入手机号码" maxlength="11" data-input-clear="1"><span class="mui-icon mui-icon-clear mui-hidden"></span>
                    </div>
                    <div class="mui-input-row">
                        <label>密码</label>
                        <input type="password" class="mui-input-clear" placeholder="请输入密码" name="userpwd" id="userpwd" maxlength="20" data-input-clear="4"><span class="mui-icon mui-icon-clear mui-hidden"></span>
                    </div>
                    <div class="mui-input-row">
                        <label>确认密码</label>
                        <input type="password" class="mui-input-clear" placeholder="请再次输入密码" name="Password" id="userpwd1" maxlength="20" data-input-clear="5"><span class="mui-icon mui-icon-clear mui-hidden"></span>
                    </div>*@
            </div>
            <div class="mui-content-padded">
                <p><button type="submit" class="mui-btn mui-btn-primary mui-btn-block mui-btn-sm weui-btn_disabled" disabled="disabled">提交</button></p>
            </div>
            <input type="hidden" value="@Model" name="userNo"  class="userNo" />
        </form>

    </div>
    <script>
        $("button[type='submit']").attr('disabled', false).removeClass('weui-btn_disabled');
            //$(document).ready(function () {
            //                $("button[type='submit']").attr('disabled', false).removeClass('weui-btn_disabled');
            //    //表单校验
            //    //$("#telephone,#smscode,#userpwd,#userpwd1").keyup(function () {
            //    //    var $v1 = $.trim($("#telephone").val());
            //    //    // var $v2=$.trim($("#verify").val());
            //    //    var $v3 = $.trim($("#userpwd").val());
            //    //    var $v4 = $.trim($("#userpwd1").val());
            //    //    //var $v5 = $.trim($("#smscode").val());
            //    //    if ($v1 && $v3 && $v4) {
            //    //        if ($v3 == $v4) {
            //    //            $("button[type='submit']").attr('disabled', false).removeClass('weui-btn_disabled');
            //    //        } else {
            //    //            alert("两次密码不一致");
            //    //        }
            //    //    } else {
            //    //        $("button[type='submit']").attr('disabled', true).addClass('weui-btn_disabled');
            //    //    }
            //    //}).keyup();

            //    //提交注册
            //    $('#registerForm').ajaxForm(function (data) {
            //        if (data) {
            //            if (data == "注册成功") {
            //                window.location.href = "/Me/Index";
            //            } else {
            //                alert(data);
            //            }
            //        } else {
            //            alert("失败！systemError");
            //        }
            //    });
            //});
    </script>

</body>
</html>