
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>下载APP</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no, viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">


</head>

<body class="mui-ios mui-ios-11 mui-ios-11-0">
    <div class="mui-content">
        <p>
            <a href="/Me/DownloadAndroid">下载安卓版本</a>
        </p>

        <p>
            <a href="/Me/DownloadIos">下载IOS版本</a>
        </p>
    </div>


</body>
</html>
