
@{
    Layout = null;
}
<!DOCTYPE html>
<!-- saved from url=(0049)http://www.uxiangquan.cn/index/member/modify.html -->
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>修改资料</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no, viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" href="~/Content/Files/修改资料_files/mui.min.css">
    <link rel="stylesheet" href="~/Content/Files/修改资料_files/iconfont.css">
    <link rel="stylesheet" href="~/Content/Files/修改资料_files/style.css">
    <script type="text/javascript" src="~/Content/Files/修改资料_files/jquery-2.2.3.min.js"></script>
    <script type="text/javascript" src="~/Content/Files/修改资料_files/mui.min.js"></script>
    <script type="text/javascript" src="~/Content/Files/修改资料_files/jquery.func.js"></script>
    <script src="~/Scripts/Common/common.js"></script>
    <script src="~/Scripts/Common/jquery.form.js"></script>
    <script src="~/Scripts/Common/mui.min.js"></script>
    <style type="text/css">
        .mui-progressbar {
            top: 80% !important;
            left: 20% !important;
            width: 60% !important;
            display: none;
        }
    </style>
</head>
<body class="mui-ios mui-ios-11 mui-ios-11-0">
    <div id="progress" class="mui-progressbar">
        <span></span>
    </div>
    <script type="text/javascript" src="~/Content/Files/修改资料_files/jquery.fileupload.js"></script>
    <script type="text/javascript" src="~/Content/Files/修改资料_files/mui.progressbar.js"></script>
    <script>
        var $UPLOAD_URL = "/index/file/upload.html";
        var $NOPIC = "/static/system/images/nopic.png";
        var mask = mui.createMask();
        (function () {
            mui("#progress").progressbar({ progress: 0 }).show();
            $.rendUploaderx = function (id) {
                var that = $(id);
                $(id).fileupload({
                    url: $UPLOAD_URL,
                    dataType: 'json',
                    add: function (e, data) {
                        var $img = that.attr("data-img");
                        $.uploading($img);
                        data.submit();
                        $("#progress").show();
                        mask.show();
                    },
                    progressall: function (e, data) {
                        var progress = parseInt(data.loaded / data.total * 100, 10);
                        mui("#progress").progressbar().setProgress(progress);
                    },
                    done: function (e, data) {
                        $("#progress").hide();
                        mask.close();
                        var $result = data.result;
                        if ($result.status == 1) {
                            var $tid = that.attr("data-id");
                            $("#" + $tid).val($result.info);
                            var $timg = that.attr("data-img");
                            if ($timg != 'undefined') {
                                $("#" + $timg).attr("src", $result.info);
                            }
                            var $action = that.attr("data-action");
                            if ($action == 'reload') {
                                location.reload();
                            }
                            $.uploaded($tid);
                        } else {
                            alerterr($result.info);
                        }
                    }
                });
            };
            //上传中
            $.uploading = function ($tid) {
                var $img = $("#" + $tid);
                var $parent = $img.parent().parent();
                var $close = $parent.find(".delbtn");
                var $loading = $parent.find(".loaing");
                $close.show();
                $loading.removeClass('mui-uploading');
            };
            //上传完毕
            $.uploaded = function ($tid) {
                var $img = $("#" + $tid);
                var $parent = $img.parent().parent();
                var $loading = $parent.find(".loaing");
                $loading.addClass('mui-uploading');
            }
        })(jQuery);
        $(function () {
            //绑定事件
            //上传点击
            $("body").on("click", ".mui-upload", function () {
                var $tid = $(this).attr("data-id");
                $("#" + $tid).trigger("click");
            });
            //删除
            $("body").on("click", ".delbtn", function () {
                $(this).hide();
                var $parent = $(this).parent();
                $parent.find("input[type='file']").val('');
                $parent.find("input[type='hidden']").val('');
                $parent.find("img").attr("src", $NOPIC);
                $parent.find(".loaing").addClass('mui-uploading');
            });
            //启用fileupload
            $("input[type='file']").each(function () {
                var $id = $(this).attr("id");
                $.rendUploaderx('#' + $id);
            });
        });
    </script>
    <script type="text/javascript" src="~/Content/Files/修改资料_files/jquery.form.js.下载"></script>


    <footer class="mui-bar mui-bar-footer nav-bottom">
        <ul class="clearListStyle mui-clearfix">
            <li><a href="/Loan/Index"><span class="iconfont icon-shouye"></span>首页</a></li>
            <li><a href="/Forum/Index"><span class="iconfont icon-icon_replieslist"></span>交流专区</a></li>
            <li><a href="/News/Index"><span class="iconfont icon-weibiaoti35"></span>财经</a></li>
            <li class="active"><a href="/Me/Index"><span class="iconfont icon-wode"></span>我的</a></li>
        </ul>
    </footer>


    <div class="mui-content" id="pjax-container">
        <form action="~/Api/Me" method="post" id="editForm">
            <input type="hidden" class="userNo" value="@Model" name="No" />
            <input type="hidden" id="gourl" value="/index/member/info.html">
            <div class="mui-table-view mt10">
                <div class="mui-table-view-cell display-box">
                    <div class="box-flex-1">点击修改头像 </div>
                    <div class="userhead02">
                        <input type="hidden" name="headimgurl" id="headimgurl" value="http://thirdwx.qlogo.cn/mmopen/RJs6WW9ichGLiaZe5s2f0kLKgzrUficoPThIqicGmnNpG4IVGL6mPnZsHUhIp7ThQbhuWwOzVf7phricTDicm7a2WEEeyoia4ACIVfB/132">
                        <input type="file" accept="image/*" class="mui-btn" id="btn-headimgurl" data-id="headimgurl" data-img="imgurl" style="display: none;">
                        <div class="img mui-upload" data-id="btn-headimgurl">
                            <img id="imgurl" style="width: 60px;" src="~/Content/Images/logo/logo.png" data-preview-src="" data-preview-group="1">                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="mui-input-group mt10">
                <div class="mui-input-row">
                    <label>昵称</label>
                    <input type="text" class="mui-input-clear nickName" value="A万惠金融" placeholder="请填写姓名" id="Nickname" name="nickName" maxlength="20" data-input-clear="1"><span class="mui-icon mui-icon-clear mui-hidden"></span>
                </div>
                <div class="mui-input-row">
                    <label>姓名</label>
                    <input type="text" class="mui-input-clear realName" value="" placeholder="请填写姓名" id="userreal" name="RealName" maxlength="20" data-input-clear="2"><span class="mui-icon mui-icon-clear mui-hidden"></span>
                </div>

                <div class="mui-input-row">
                    <label>手机号</label>
                    <input type="tel" class="mui-input-clear  mobile" name="Mobile" value="13275236080" placeholder="请填写手机号" id="username" readonly="" maxlength="11" data-input-clear="3"><span class="mui-icon mui-icon-clear mui-hidden"></span>
                </div>
                <div class="mui-input-row">
                    <label>性别</label>
                    <select name="Sex" id="sex">
                        <option value="1">男</option>
                        <option value="2" selected="">女</option>
                    </select>
                </div>
            </div>
            <div class="mui-content-padded">
                <button type="submit" class="mui-btn mui-btn-primary mui-btn-block mui-btn-sm">保存</button>
            </div>
        </form>
    </div>
    <script>
        init();
        function init() {
            var userNo = $(".userNo").val();
            $.ajax({
                url: "/api/Me",
                data: { userId: userNo },
                type: 'Get',
                success: function (data) {
                    if (data) {
                        $(".nickName").val(data.NickName);
                        $(".realName").val(data.RealName);
                        $(".mobile").val(data.Mobile);
                        $("#sex").val(data.Sex);
                    } else {
                        $(".nickName").val("Error");
                    }
                },
                error: function () {
                    console.error("服务器异常");
                }
            })
        }

        //form 提交回调函数
        window.onload = function () {
            $('#editForm').ajaxForm(function (data) {
                window.location.href = "/Me/Index";
            })
        };

    </script>

</body>
</html>