@{
    Layout = null;
}
<!DOCTYPE html>
<!-- saved from url=(0055)http://www.uxiangquan.cn/index/index/product/day/2.html -->
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>方案匹配</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no, viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <style>
        h3 {
            margin-left:10px;
            border-bottom:1px solid #eee;
            padding:10px 0 10px 0;
        }
        h6 {
            font-size:16px;
        }
        .vipcont {
            padding:0 10px 0 10px;
        }
    </style>
</head>

<body class="mui-ios mui-ios-11 mui-ios-11-0" style="padding:0;margin:0;">
    <div class="vipcont">

        <div class="" style="viplistsdetail">
           <p>1,</p>
        </div>

    </div>




</body>
</html>
