
@{
    Layout = null;
}
<!DOCTYPE html>
<!-- saved from url=(0048)http://www.uxiangquan.cn/index/index/market.html -->
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="~/Content/Files/产品超市_files/swiper.3.1.2.min.css">

    <title>信用卡</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no, viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" href="~/Content/Files/产品超市_files/mui.min.css">
    <link rel="stylesheet" href="~/Content/Files/产品超市_files/iconfont.css">
    <link rel="stylesheet" href="~/Content/Files/产品超市_files/style.css">
    <link href="~/Content/Css/style.css" rel="stylesheet" />
    <script>

        var APP_PATH = "/index", CONST_PUBLIC = "/static", API_URL = "/Api", GUID = "";
    </script>
    <script type="text/javascript" src="~/Content/Files/产品超市_files/jquery-2.2.3.min.js"></script>
    <script type="text/javascript" src="~/Content/Files/产品超市_files/mui.min.js"></script>
    <script type="text/javascript" src="~/Content/Files/产品超市_files/jquery.func.js"></script>
    <script src="~/Scripts/Common/common.js"></script>

    <style>
        .notices .bg .cont {
            height: 30px;
            line-height: 30px;
            font-size: 14px;
            color: #f24a00;
        }

        .mui-table-view-cell:after {
            right: 15px !important;
        }

        .notice {
            width: 98%;
            margin: 8px 1%;
        }

        .indexsearch {
            margin: 10px 1%;
        }

            .indexsearch button {
                width: 80px;
                padding: 0 10px;
                height: 38px;
                background-color: #08C1B0;
                color: #fff;
                padding: 0;
                border: none;
                font-size: 18px;
            }

        .card-bank li {
            width: 25%;
            float: left;
        }

        .swiper-pagination-bullet {
            width: 20px !important;
            border-radius: 20% !important;
        }

        .timecountdown {
            float: right;
            color: #fff;
        }

            .timecountdown span {
                background: #000;
                color: #fff;
                font-size: 14px;
                width: 24px;
                text-align: center;
                display: inline-block;
                padding: 0px 4px -1px 2px;
                border-radius: 3px;
            }

        a:hover {
            -webkit-tap-highlight-color: transparent;
        }
    </style>

    <style type="text/css">
        button {
            line-height: 1 !important;
        }

        .borderbutton {
            border-bottom: 1px solid #666;
        }

        .closebox {
            position: absolute;
            left: 50%;
            bottom: 0;
            margin-left: -20px;
            width: 40px;
            height: 40px;
            line-height: 40px;
            font-size: 18px;
            border: 1px solid #eee;
            text-align: center;
            color: #fff;
            border-radius: 50%;
            background: rgba(0, 0, 0, 0.3);
        }
    </style>
</head>

<body class="mui-ios mui-ios-11 mui-ios-11-0">
    @*<footer class="mui-bar mui-bar-footer nav-bottom">
            <ul class="clearListStyle mui-clearfix">
                <li><a href="/Loan/Index"><span class="iconfont icon-shouye"></span>首页</a></li>
                <li><a href="/Forum/Index"><span class="iconfont icon-icon_replieslist"></span>交流专区</a></li>
                <li class="active"><a href="/Card/Index"><span class="iconfont icon-weibiaoti35"></span>信用卡</a></li>
                <li><a href="/Me/Index"><span class="iconfont icon-wode"></span>我的</a></li>
            </ul>
        </footer>*@


    <div class="mui-content">

        <!--搜索-->
        @*<form action="#" method="post" class="display-box indexsearch">
                <div class="box-flex-1"><input type="text" name="keyword" placeholder="搜索关键字"></div>
                <div><button type="submit">查网贷</button></div>
            </form>*@
        <div class="notices">
            <div class="bg">
                <marquee class="cont" direction="left" scrollamount="5" onmouseover="this.stop()" onmouseout="this.start()">
                    市场各大系列、单品、下款口子每天更新，超市内产品无返佣，仅提供使用和展示参考！
                </marquee>
            </div>
        </div>
        <!--一列两个方块-->
        <li class="mui-table-view-cell mui-collapse mui-active" style="list-style:none;">
            <div class="mui-collapse-content">
                <a class="mui-pull-left mui-col-xs-6 mui-table-view-cell uxin-1 display-box productlist">
                    <div class="img"><img src="~/Content/Images/Common/卡.png"></div>
                    <div class="box-flex-1">
                        <div class="title">申卡技巧</div>
                    </div>
                </a>
                <a class="mui-pull-left mui-col-xs-6 mui-table-view-cell uxin-1 display-box productlist">
                    <div class="img"><img src="~/Content/Images/Common/卡.png"></div>
                    <div class="box-flex-1">
                        <div class="title">提额技巧</div>
                    </div>
                </a>
            </div>
        </li>

        <!--宫格列表-->
        <div class="muilist">
            <ul class="mui-table-view mui-grid-view mui-grid-12 data">
                <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3">
                    <a href="#">
                        <img style="width:45px;height:45px;" src="~/Content/Images/Common/卡.png">
                        <div class="mui-media-body dial-txt" style="font-size:13px;">建设银行</div>
                    </a>
                </li>
            </ul>
        </div>

    </div>



    <div class="apply-shadow 0" style="display: none;">
        <div class="shadow-box">
            <div class="mui-table-view detail">
                <li class="mui-table-view-cell borderbutton" style="font-weight:bold;color:#1e5bca">
                    <span class="TypeAndName"> 精选单品-华山论借</span>
                    @*<button class="mui-btn feedback3100" style="padding:0 5px;font-weight:bold;color:red;font-size: 13px;" onclick="feedback(&#39;3100&#39;,&#39;feedback3100&#39;)">
                        失效反馈</button>*@
                </li>
                <li class="mui-table-view-cell borderbutton">
                    <span class="Describe">1、20-40岁<br>2、有稳定工作收入<br>3、机审无回访<br></span>
                    <font style="color:red;"></font>
                </li>
                <li class="mui-table-view-cell" style="line-height: 30px">
                    <div class="mui-pull-left">
                        <img style="width: 30px;" class="Icon" src="">
                        <span class="Name">华山论借</span>
                    </div>
                </li>
                <li class="mui-table-view-cell">
                    <div class="mui-pull-left mui-col-xs-6">
                        @*<img style="width:100%;height:100%;position:absolute;opacity:0;" src="http://www.uxiangquan.cn/static/qrcode/gather/qrcode/krqw.jpg">*@
                        <div style="min-height:100px;">
                            <img class="QrCode" style="width: 100%;margin-top:-10px;margin-left:-5px;" src="">
                        </div>
                        <div style="text-align:center;">
                            扫码立即申请
                        </div>
                    </div><div class="mui-pull-left mui-col-xs-6" style="padding-left: 10%;margin-top:-4px;">
                        @*<button type="button" data-url="" class="mui-btn mui-btn-primary mui-btn-outlined   Url  CopyUrl" style="box-shadow: 3px 2px 6px #3975e2;" id="copy" onclick="copy(&#39;http://ortg.xyz/krqw&#39;)">
                                复制链接
                            </button>*@
                        <a href="" data-url="" class="mui-btn mui-btn-danger mui-btn-outlined mt10 Url  JumpUrl " style="box-shadow: 3px 2px 6px #dd524d;">
                            立即申请
                        </a>
                    </div>
                </li>
            </div>
            <div class="closebox"><i class="iconfont icon-guanbi"></i></div>
        </div>
    </div>


    <script>
        init();

        function init() {
            //获取该类别的数据
            $.ajax({
                url: "/api/Product",
                data: { typeId: 1 },
                type: 'Get',
                success: function (data) {
                    var html = "";
                    if (data) {
                        for (var i = 0; i < data.length; i++) {
                            html += "<li>";
                            html += "<a onclick='GetDetail(" + data[i].No + ")'>";
                            html += "<img src='" + data[i].Icon + "'><span class='txt' style='width: 100px;'>" + data[i].Name + "</span>";
                            html += "</a>";
                            html += "</li>";
                        }
                    } else {
                        html += "<li>";
                        html += "无数据";
                        html += "</li>";
                    }
                    $(".data").html(html);
                },
                error: function (e) {
                    console.error("服务器异常" + e);
                }
            });
        }
        //关闭详情
        $(".shadow-box").on('click', '.closebox', function () {
            $('.apply-shadow').hide();
            $(".shadow-box").html('');
        })



        //获取产品详情
        function GetDetail(no) {
            $.ajax({
                url: "/api/ProductDetail",
                data: { no: no },
                type: 'Get',
                success: function (data) {
                    var type = $(".productTypeName").html();
                    $(".detail .TypeAndName").html(type + data.Name);
                    $(" .detail  .Describe").html(data.Describe1 + "</br>" + data.Describe2 + "</br>" + data.Describe3 + "</br>" + data.Describe4 + "</br>" + data.Describe5 + "</br>");
                    $(".detail .Icon").attr("src", data.Icon);
                    $(".detail .Name").html(data.Name);
                    $(".detail  .QrCode").attr("src", qrCodeRootPath + data.QrCodeUrl);
                    $(".detail .Url").attr("data-url", data.Url);
                    $(".detail .JumpUrl").attr("href", data.Url);
                    $(".apply-shadow").show();
                },
                error: function () {
                    console.log("服务器异常");
                }
            });
        }
    </script>





</body>
</html>
