@charset "UTF-8";
/*主色*/
/*配色*/
/*红色*/
/*绿色*/
/*一般*/
/*黄色*
/*灰色*/
/*网页背景色*/
/*边框线颜色*/
/*文字默认颜色*/
/*链接文字颜色*/
/*已访问链接文字颜色*/
/*链接文字hover颜色*/
/*链接文字active颜色*/
html, body { height: 100%; }
.mui-content { overflow: hidden; min-height: 100%; }
body { font-size: 14px; }
a { color: #333; }
img { vertical-align: top; }
hr { width: 100%; border: none; border-bottom: 1px solid #DDD; margin: 10px auto; }
.mt10 { margin-top: 10px !important; }
.mt20 { margin-top: 20px !important; }
.autoh { height: auto !important; }

/*常用文本大小*/
.fz12 { font-size: 12px; }
.fz14 { font-size: 14px; }
.fz16 { font-size: 16px; }
.fz18 { font-size: 18px; }
.fz20 { font-size: 20px; }
.fz24 { font-size: 24px; }
.text-red { color: #F00; }
.text-primary { color: #3975e2; }
.clearListStyle { margin: 0; padding: 0; list-style: none; }
.clearListStyle li { margin: 0; padding: 0; }
.display-box { display: -webkit-box; -webkit-box-orient: horizontal; -webkit-box-pack: center; -webkit-box-align: center; }
.display-box-v { display: -webkit-box; -webkit-box-orient: vertical; -webkit-box-pack: center; -webkit-box-align: center; }
.display-box > *, .display-box-v > * { display: block; }
.box-flex-1 { display: block; -webkit-box-flex: 1; -moz-box-flex: 1; -ms-box-flex: 1; box-flex: 1; }

/*多行省略号*/
.mui-bar { background-color: #FFF; box-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 0 5px rgba(0, 0, 0, 0.1); }
.nav-bottom { height: 50px; padding: 0; font-size: 12px; background: #fff; }
.nav-bottom li { width: 20%; height: 100%; float: left; text-align: center; position: relative; }
.nav-bottom a { height: 100%; display: block; color: #555; }
.nav-bottom .mui-badge { margin: -5px 0 0 3px; position: absolute; left: 50%; top: 0; }
.nav-bottom .iconfont { display: block; font-size: 20px; margin: 7px 0 0; }
.nav-bottom li.active a { color: #3975e2; }
.nav-bottom ~ .mui-content { padding-bottom: 50px; }

.banner { line-height: 0; }
.banner img { width: 100%; }
.banner .swiper-container-horizontal > .swiper-pagination { bottom: 6px; }
.banner .swiper-container-horizontal > .swiper-pagination .swiper-pagination-bullet { background-color: rgba(255, 255, 255, 0.3); opacity: 1; }
.banner .swiper-container-horizontal > .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active { background-color: #3975e2; }

.nav-icon { text-align: center; padding: 10px 0; }
.nav-icon a { display: block; padding: 5px 0; }
.nav-icon img { width: 50px; height: 50px; }
.nav-icon .txt { display: block; font-size: 14px; margin-top: 10px; }

.nav-type li { float: left; width: 50%; height: 70px; padding: 15px 10px; border-right: 1px solid #ddd; border-bottom: 1px solid #ddd; box-sizing: border-box; }
.nav-type li img { width: 40px; height: 40px; float: left; margin-right: 10px; }
.nav-type li .cont { line-height: 20px; }
.nav-type li .cont .tit { font-size: 16px; }
.nav-type li .cont .des { font-size: 12px; color: #888; }
.nav-type li:nth-child(2n) { border-right: none; }
.nav-type li:nth-child(3n), .nav-type li:nth-child(4n) { border-bottom: none; }

.img1-1 { width: 100%; display: block; position: relative; }
.img1-1:after { display: block; padding-top: 100%; content: ''; }
.img1-1 img { width: 100%; height: 100%; position: absolute; left: 0; top: 0; }
.img4-3 { width: 100%; display: block; position: relative; }
.img4-3:after { display: block; padding-top: 75%; content: ''; }
.img4-3 img { width: 100%; height: 100%; position: absolute; left: 0; top: 0; }
.img2-1 { width: 100%; display: block; position: relative; }
.img2-1:after { display: block; padding-top: 50%; content: ''; }
.img2-1 img { width: 100%; height: 100%; position: absolute; left: 0; top: 0; }

.copy {width: 100%;float: left; padding: 10px; font-size: 12px; color: #999; text-align: center; }

.product-type { height: 100%; display: -webkit-box; -webkit-box-align: stretch; }

.fl-01 { width: 90px; position: relative; }
.fl-01 ul { background-color: #FFF; min-height: 100%; box-shadow: inset -1px 0 0 #DDD; }
.fl-01 li { height: 46px; border-bottom: 1px solid #DDD; position: relative; }
.fl-01 a { display: block; height: 100%; padding: 0 10px; line-height: 46px; font-size: 13px; text-align: center; }
.fl-01 li.active a { background-color: #efeff4; color: #3975e2; }

.fl-content { position: relative; margin: 0 8px; }
.fl-content .mui-scroll-wrapper { padding: 8px 0; }
.fl-content .tit { height: 40px; margin: 0; font-size: 14px; line-height: 40px; font-weight: 500; }
.fl-content .fl-03 { background-color: #FFF; padding: 0 10px; }
.fl-content .fl-03 li { text-align: center; padding: 10px 0; }
.fl-content .fl-03 .img1-1 { width: 60px; margin: 0 auto; }
.fl-content .fl-03 a { display: block; color: #666; }

.sort-product { padding: 0; text-align: center; }
.sort-product a { line-height: 44px; display: block; }
.sort-product a.active { color: #3975e2; }
.sort-product a.active.up .arr:before { border-bottom-color: #3975e2; }
.sort-product a.active.down .arr:after { border-top-color: #3975e2; }
.sort-product a .arr { width: 6px; height: 12px; display: inline-block; margin-left: 4px; line-height: 0; font-size: 0; position: relative; top: 1px; }
.sort-product a .arr:before { content: ''; border-bottom: 4px solid #999; border-left: 3px solid transparent; border-right: 3px solid transparent; position: absolute; left: 0; top: 0; }
.sort-product a .arr:after { content: ''; border-top: 4px solid #999; border-left: 3px solid transparent; border-right: 3px solid transparent; position: absolute; left: 0; bottom: 0; }

.priduct-canshu li { padding: 3px 0; }
.priduct-canshu li .name { display: inline-block; width: 40px; color: #666; }

.product-sx { padding: 10px 5px 10px 15px; }
.product-sx .item { display: -webkit-box; padding: 5px 0; }
.product-sx .name { width: 40px; color: #666; line-height: 31px; }
.product-sx li { float: left; padding: 3px 6px 3px 0; }
.product-sx input { display: none; }
.product-sx label { display: block; height: 25px; padding: 0 15px; background-color: #F3F3F3; border-radius: 4px; line-height: 23px; }
.product-sx input:checked + label { background-color: #3975e2; color: #FFF; }
.product-sx .mui-numbox { width: 100px; height: 31px; padding: 0 31px; }
.product-sx .mui-numbox .mui-btn { width: 31px; }

.product-profile { padding: 10px; margin-bottom: 10px; overflow: hidden; }
.product-profile .tit { margin-top: 10px; display: -webkit-box; -webkit-box-align: center; text-align: center; }
.product-profile .tit:before { content: ''; display: block; height: 1px; -webkit-box-flex: 1; background-color: #CCC; }
.product-profile .tit:after { content: ''; display: block; height: 1px; -webkit-box-flex: 1; background-color: #CCC; }
.product-profile .tit h2 { margin: 0 10px; font-size: 16px; font-weight: normal; }
.product-profile .product-body { margin-top: 10px; }
.product-profile .product-body img { max-width: 100%; }

.footerbar-cp { padding: 0; }
.footerbar-cp .cart { display: block; width: 54px; text-align: center; font-size: 18px; }
.footerbar-cp .yixuan { padding: 0 10px; }
.footerbar-cp .quanxuan { margin-left: 10px; line-height: 18px; }
.footerbar-cp .quanxuan a { color: #3975e2; }
.footerbar-cp .heji { margin: 0 10px; }
.footerbar-cp .heji .price { color: #F00; }
.footerbar-cp .kefu { font-size: 12px; text-align: center; width: 44px; height: 44px; border-right: 1px solid #EEE; }
.footerbar-cp .kefu .iconfont { margin-top: 5px; line-height: 1; font-size: 18px; }
.footerbar-cp .mui-btn { -webkit-box-flex: 1; height: 44px; margin: 0 !important; padding: 0; line-height: 44px; border-radius: 0; position: static; }

.xuanze input { margin-right: 3px; float: left; position: static !important; }

.cartitem { margin: 10px 0 !important; }
.cartitem .img1-1 { width: 80px; margin: 0 10px 0 0 !important; padding: 0 !important; }
.cartitem .cpname { height: 32px; line-height: 16px; }
.cartitem .price { font-size: 18px; color: #F00; }
.cartitem .pricenumber { line-height: 28px; }
.cartitem .mui-numbox { width: 100px; height: 28px; padding: 0 30px; }
.cartitem .mui-numbox .mui-btn { width: 30px; }

.xzadr .mui-input-row { height: auto !important; }
.xzadr .mui-input-row label { line-height: 1.5 !important; }

.jgicon { margin-bottom: 20px; }
.jgicon .mui-icon { font-size: 100px; border-radius: 50%; color: #FFF; }
.jgicon .gou { background-color: #5cb85c; }
.jgicon .cha { background-color: #f25555; }

.jieguo { margin-top: 100px; }

.user-header { background: #00B8EE;background-size: 100%;height: 120px;padding-top: 15px;color: #fff;text-align: left;}
.user-header .cont {margin-top: 8px;overflow: hidden;padding-top: 2px;float: left;width: 100%;height: 150px;background: #00B8EE;padding-top: 15px;padding-left: 5%;border-top: 1px #fff solid; }
.user-header .cont .id { font-size: 14px; color: #fff; }
.user-header .cont .time { margin-top: 5px; padding: 0 15px; font-size: 12px; }

.user-head {width: 70%;height: 90px;overflow: hidden;margin-left: 2%;float: left;}
.user-head img {width: 30%;border: 3px solid rgba(255, 255, 255, 0.2);border-radius: 60px; }

.user-type { padding: 10px 0; background: #fff; width: 100%; overflow: hidden; }
.user-type a { display: block; float: left; width: 50%; font-size: 16px; padding: 6px 0; line-height: 25px; text-align: center; color: #4c6184; border-right: 1px solid #e4e4e4; box-sizing: border-box; }
.user-type a img { width: 25px; height: 25px; margin-right: 5px; }
.user-type a:last-child { border: none; }

.user-nav { margin-top: 10px !important; }
.user-nav li { float: left; width: 33.33%; border-bottom: 1px solid #f0f0f0; border-right: 1px solid #f0f0f0; box-sizing: border-box; }

.user-nav a { padding: 30px 15px; text-align: center; display: block; }
.user-nav a img { width: 30px; height: 30px; }
.user-nav a .name { margin-top: 10px; color: #4c6184; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
.user-nav li:nth-child(3n) { border-right: none; }

.tuichu { display: block; width: 100%; background: #fff; margin: 10px 0; border-bottom: 1px solid #ddd; border-top: 1px solid #ddd; text-align: center; padding: 10px 0; }
.tuichu .iconfont { font-size: 20px; margin-right: 3px; color: #888; }

.address-list { margin-bottom: 10px; }

.screen { padding: 0; }
.screen li { height: 44px; text-align: center; line-height: 42px; }
.screen li.active { border-bottom: 2px solid #f3670a; }
.screen li.active a { color: #f3670a; }

.mui-col-20 { width: 20%; }

.ordercp .item { margin-top: 10px; }
.ordercp .item:first-child { margin-top: 0; }

.yejilist { background-color: #FFF; font-size: 12px; }
.yejilist table { width: 100%; }
.yejilist thead td { background-color: #3975e2; color: #FFF; }
.yejilist td { padding: 5px; border: 1px solid #EEE; }

.yue { background-color: #3975e2; color: #FFF; padding: 15px; }
.yue .number { font-size: 32px; }

.jilu .number { color: #F00; font-size: 16px; }
.jilu .mui-table-view-cell > div { margin-right: 10px; }
.jilu .mui-table-view-cell > div:last-child { margin-right: 0; }

.cp-tab { height: 42px; border-bottom: 1px solid #DDD; text-align: center; }
.cp-tab li { float: left; }
.cp-tab li a { display: block; height: 40px; line-height: 40px; }
.cp-tab li.active { border-bottom: 2px solid #3975e2; }
.cp-tab li.active a { color: #3975e2; }

.product-search form { width: 100%; height: 30px; margin-top: 7px; background-color: #EEE; border-radius: 4px; }
.product-search input { height: 30px; margin: 0; background: none; border: none; font-size: 14px; }
.product-search button { width: 40px; height: 30px; padding: 0; background: none; border: none; color: #999; }

.pagecont { margin-top: 10px; overflow: hidden; }
.pagecont img { max-width: 100%; }
.pagecont p { color: #333; }

.floatdiv { width: 100%; height: 100%; padding: 20px; text-align: center; background-color: rgba(0, 0, 0, 0.8); position: fixed; left: 0; top: 0; color: #FFF; z-index: 99; }
.floatdiv:after { content: ''; position: absolute; top: 10px; right: 10px; width: 120px; height: 180px; background: url(../images/jt.png) no-repeat center; background-size: contain; }

.footerbar-product { height: 50px; padding: 0; }
.footerbar-product ~ .mui-content { padding-bottom: 50px; }
.footerbar-product .kefu { font-size: 12px; text-align: center; width: 80px; height: 50px; color: #666; line-height: 1; }
.footerbar-product .kefu .iconfont { display: block; padding: 8px 0 4px; font-size: 20px; }
.footerbar-product .jrcart { background: #ffaa00; border: none; color: #fff; }
.footerbar-product .ljbuy { background: #f8574b; border: none; }
.footerbar-product .mui-btn { width: 90px; height: 50px; margin: 0 !important; padding: 0; line-height: 50px; border-radius: 0; position: static; }

.qrcodeimg { background-color: #3975e2; text-align: center; width: 100%; }
.qrcodeimg img { max-height: inherit; width: 100%; }

.photolist { padding: 10px; }
.photolist li { padding: 10px; }
.photolist .cont { background-color: #4c6680; position: relative; }
.photolist .cont:before { content: ''; padding-top: 100%; display: block; }
.photolist .cont img { width: 100%; height: 100%; position: absolute; left: 0; top: 0; }
.photolist .cont .close { width: 24px; height: 24px; margin: -12px -12px 0 0; background-color: #e62e2e; border-radius: 50%; text-align: center; line-height: 24px; color: #FFF; position: absolute; top: 0; right: 0; }
.photolist .cont label { width: 100%; height: 100%; position: absolute; left: 0; top: 0; }
.photolist .cont label .iconfont { font-size: 32px; color: #FFF; opacity: .8; }
.photolist .cont label input { position: absolute; left: 0; top: 0; z-index: 2; opacity: 0; -webkit-appearance: none; width: 100%; height: 100%; }
.photolist .loading { background-color: #FFF; border: 1px solid #E8E8E8; }
.photolist .loading .mui-spinner { width: 32px; height: 32px; }

.mslist { padding: 0 10px; line-height: 44px; }
.mslist span { font-weight: bold; color: #E60000; }

.kclist .img1-1 { width: 90px; margin-right: 10px; }
.kclist .tit { font-size: 15px; line-height: 22px; }
.kclist .desc { margin-top: 5px; color: #666; line-height: 20px; font-size: 12px; }
.kclist .time { line-height: 18px; font-size: 13px; color: #999; margin-top: 5px; }
.kclist .pri { margin-top: 5px; color: #999; font-size: 13px; line-height: 18px; }
.kclist .pri .big { margin-right: 20px; }
.kclist .pri .iconfont { margin-right: 3px; font-size: 13px; }

.pro-dk .tit { width: 100%; height: 30px; line-height: 30px; font-size: 16px; }
.pro-dk .tit img { width: 18px; height: 18px; margin-right: 8px; margin-top: 6px; }
.pro-dk .tit .bz { display: inline-block; margin-left: 5px; border: 1px solid #3975e2; color: #3975e2; font-size: 12px; padding: 0 5px; height: 20px; line-height: 20px; border-radius: 3px; }
.pro-dk .cont { margin-top: 10px; line-height: 30px; }
.pro-dk .cont p { margin: 0; padding: 0; color: #333333; font-size: 14px; }
.pro-dk .cont .para { float: right; width: 150px; text-align: right; }
.pro-dk .cont .num { color: #888; }
.pro-dk .cont .pri { font-size: 18px; color: #FF0000; }
.pro-dk .cont .pri p { color: #888; }

.kchead { width: 100%; height: 44px; line-height: 44px; text-align: center; background: #fff; border-bottom: 1px solid #ddd; position: fixed; top: 0; left: 0; z-index: 99; }
.kchead a { display: inline-block; padding: 0 20px; height: 44px; color: #555; font-size: 16px; }
.kchead a.click { color: #3975e2; border-bottom: 2px solid #3975e2; }
.kchead ~ .mui-content { padding-top: 44px; }

.kccont { background: #fff; }
.kccont .tit { font-size: 20px; line-height: 26px; }
.kccont .time { color: #888; font-size: 14px; margin-top: 5px; }
.kccont .mui-table-view:after { content: none; }

.buy-hy { margin-top: 80px; }
.buy-hy .buy-type { width: 80%; margin: 0 auto; height: 40px; overflow: hidden; }
.buy-hy .buy-type li { width: 50%; height: 40px; line-height: 38px; float: left; border: 1px solid #eee; background: #f8f8f8; box-sizing: border-box; text-align: center; }
.buy-hy .buy-type li.active { background: #3975e2; color: #fff; border: 1px solid #3975e2; }
.buy-hy .buy-cont { margin-top: 40px; }
.buy-hy .buy-cont .buy-item { width: 80%; margin: 0 auto; }
.buy-hy .buy-cont .buy-item a { display: block; height: 40px; line-height: 38px; text-align: center; border: 1px solid #3975e2; margin-bottom: 10px; }

.help-tit { padding: 8px 15px; color: #666; }

.applylist { background: #fff; overflow: hidden; }
.applylist .item { width: 50%; float: left; padding: 10px; box-sizing: border-box; }
.applylist .img1-1 { width: 50px; margin-right: 15px; float: left; }
.applylist .tit { font-size: 16px; line-height: 25px; }
.applylist .desc { color: #888; font-size: 12px; line-height: 25px; }

.list-nav { margin-top: 0px !important; }
.list-nav li { float: left; width: 33.33%; box-sizing: border-box; }
.list-nav a { padding: 15px; text-align: center; display: block; }
.list-nav a img { width: 50px; height: 50px; border-radius: 50%; }
.list-nav a .name { margin-top: 10px; color: #333; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }

.nav-user { margin: 10px 0 !important; color: #4c6184; font-size: 15px; }
.nav-user img { width: 22px; height: 22px; margin-right: 10px; }
.nav-user .mui-table-view-cell { padding: 13px 15px; }

.chaxun { height: 45px; line-height: 45px; background: #3975e2; color: #fff; text-align: center; }
.chaxun .iconfont { margin-right: 5px; }

.dk-list { padding: 0 15px; }
.dk-list .item { margin-top: 15px; background: #fff; padding: 25px 15px; overflow: hidden; display: flex; display: -webkit-flex; align-items: center; position: relative; }
.dk-list .item .img { width: 54px; height: 54px; float: left; margin-right: 15px; }
.dk-list .item .img img { width: 100%; height: 100%; border-radius: 5px; }
.dk-list .item .cont { overflow: hidden; }
.dk-list .item .tit { font-size: 16px; }
.dk-list .item .des { font-size: 14px; color: #999; margin-top: 10px; }
.dk-list .item:after { content: ''; position: absolute; right: 10px; top: 50%; margin-top: -4px; display: inline-block; width: 8px; height: 8px; border-top: 1px solid #aaa; border-right: 1px solid #aaa; transform: rotate(45deg); -webkit-transform: rotate(45deg); }

.loginbg { width: 100%; height: 100%; background: url(../images/login-bg.jpg) no-repeat center bottom #fff; background-size: 100%; }
.loginbg .logo { width: 90px; margin: 80px auto 0; }
.loginbg .logo img { width: 100%; }
.loginbg .loginbox { margin: 50px 40px 0; }
.loginbg .loginbox .mui-input-group { border-radius: 5px; background: none; }
.loginbg .loginbox .mui-input-group:before, .loginbg .loginbox .mui-input-group:after { content: none; }
.loginbg .loginbox .mui-input-row { line-height: 50px; height: 50px; position: relative; }
.loginbg .loginbox .mui-input-row:after { background-color: #6b91c1; left: 0; }
.loginbg .loginbox .mui-input-row label { width: 50px; line-height: 50px; font-size: 16px; padding: 0; color: #004195; }
.loginbg .loginbox .mui-input-row input { width: calc(100% - 50px); color: #fff; padding: 10px 0; height: 50px; line-height: 30px; font-size: 16px; box-sizing: border-box; color: #004195; }
.loginbg .loginbox .mui-input-row input::-webkit-input-placeholder { color: rgba(255, 255, 255, 0.6); }
.loginbg .loginbox .mui-input-row .yzm { position: absolute; right: 0; top: 10px; bottom: 10px; line-height: 30px; width: 100px; text-align: center; color: #fff; border-left: 1px solid #c8c7cc; }
.loginbg .loginbox .mui-content-padded { margin: 30px 0 0; }
.loginbg .loginbox .mui-content-padded .mui-btn { color: #fff; background: #004195; border: 1px solid #004195; }
.loginbg .loginbox .jzmm { margin-top: 15px; color: #fff; }
.loginbg .loginbox .jzmm input { margin-right: 3px; position: static !important; }
.loginbg .loginbox .jzmm input:before { font-size: 20px; color: #fff; }
.loginbg .loginbox .jzmm input:checked:before { color: #fff; }
.loginbg .loginbox .wjmm { display: block; margin-top: 5px; color: #ff0000; text-align: right; font-size: 14px; overflow: hidden; }
.loginbg .forget { font-size: 14px; text-align: center; color: #004195; margin-top: 20px; text-shadow: #fff 1px 0 0,#fff 0 1px 0,#fff -1px 0 0,#fff 0 -1px 0; }
.loginbg .forget a { color: #ff0000; display: inline-block; }

.photo { height: 80px !important; }
.photo label { line-height: 60px !important; }
.photo-up { width: 60px; height: 60px; float: left; margin: 10px 0; position: relative; }
.photo-up img { width: 100%; height: 100%; border-radius: 50%; }
.photo-up input { width: 100%; height: 100%; position: absolute; left: 0; top: 0; opacity: 0; -webkit-appearance: none; z-index: 99; }

.photo-zl { width: 60px; height: 60px; float: right; }
.photo-zl img { width: 100%; height: 100%; border-radius: 50%; }

.dxyzm { display: -webkit-box; -webkit-box-align: center; }
.dxyzm label { display: block; }
.dxyzm label, .dxyzm input { float: none !important; }
.dxyzm input { width: 100%; padding-left: 0; font-size: 14px; }
.dxyzm .dxyzmbox { width: 100px; border-left: 1px solid #E8E8E8; }
.dxyzm .dxyzmbox img { width: 90%; height: 30px; margin: 5px 5%; }
.dxyzm .dxyzmbox .mui-btn { width: 100%; height: 44px; float: none !important; background: none; border: none; border-radius: 0; color: #3975e2; }

.jiekuan-tj .swiper-container { width: 100%; height: auto; margin-left: auto; margin-right: auto; padding-bottom: 20px; }
.jiekuan-tj .swiper-slide { text-align: center; height: auto; display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center; }
.jiekuan-tj .swiper-slide .img1-1 { width: 60px; }
.jiekuan-tj .swiper-slide .img1-1 img { border-radius: 50%; }
.jiekuan-tj .swiper-slide .tit { font-size: 14px; margin-top: 5px; }
.jiekuan-tj .swiper-slide .des { font-size: 12px; color: #888; }
.jiekuan-tj .swiper-pagination-bullet { background-color: #ddd; opacity: 1; }
.jiekuan-tj .swiper-pagination-bullet.swiper-pagination-bullet-active { background-color: #3975e2; }
.jiekuan-tj .swiper-container-horizontal > .swiper-pagination { bottom: 0; }

.jiekuan-list { padding-bottom: 10px; }
.jiekuan-list .item { padding: 10px 15px 0; display: block; }
.jiekuan-list .item img { width: 100%; }

.notices { width: 98%; margin: 8px 1%; padding: 0 5px; height: 30px; background: #fff; overflow: hidden; box-sizing: border-box; }
.notices .bg { height: 30px; background: url(../images/laba.png) no-repeat left center; background-size: 20px 20px; padding: 0 5px 0 25px; }
.notices .bg li { height: 30px; line-height: 30px; font-size: 14px; }
.notices .bg li a { color: #f24a00; }

.card-bank { text-align: center; padding: 10px 0; }
.card-bank li { width: 33.33%; float: left; }
.card-bank a { display: block; padding: 5px 0; }
.card-bank img { width: 50px; height: 50px; border-radius: 50%; }
.card-bank .txt { display: block; font-size: 14px; margin-top: 10px; }

.card-list { width: 100%; }
.card-list li { width: 50%; float: left; border-right: 1px solid #ddd; border-bottom: 1px solid #ddd; }
.card-list li .img2-1 { width: 100%; }
.card-list li:nth-child(2n) { border-right: none; }

.pub-tit { font-size: 15px; padding-left: 35px; position: relative;font-weight: bold; }
.pub-tit:before { width: 18px; height: 18px; background: url(../images/hot.png) no-repeat left center; position: absolute; left: 15px; top: 11px; content: ''; background-size: 18px; }
.pub-tit .more { font-size: 14px; float: right; color: #666 !important; }

.pub-tit1 { font-size: 15px; padding-left: 38px; position: relative;font-weight: bold; }
.pub-tit1:before { width: 18px; height: 24px; background: url(../images/resume.png) no-repeat left center; position: absolute; left: 15px; top: 9px; content: ''; background-size: 18px; }
.pub-tit1 .more { font-size: 14px; float: right; color: #666 !important; }

.pub-tit2 { font-size: 18px; padding-left: 28px; position: relative; }
.pub-tit2:before { width: 5px; height: 18px; background: #3975e2; position: absolute; left: 15px; top: 13px; content: ''; }
.pub-tit2 .more { font-size: 14px; float: right; color: #666 !important; }

.card-ph { line-height: 22px; }
.card-ph img { width: 95px; height: 60px; float: left; margin-right: 20px; }
.card-ph .tit { font-size: 16px; margin-top: 5px; }
.card-ph .des { font-size: 14px; color: #888; margin-top: 5px; }

.inside-ban { width: 100%; }
.inside-ban img { width: 100%; }

.card-hot { padding: 0 15px; margin-top: 15px; }
.card-hot a { display: block; margin-bottom: 15px; }
.card-hot a img { border-radius: 5px; }

.indexsearch { height: 40px; margin: 10px; background-color: #fff; border-radius: 5px; }
.indexsearch input { height: 40px; margin: 0; background: none; border: none; font-size: 14px; color: #333; }
.indexsearch input::-webkit-input-placeholder { color: #999; }
.indexsearch button { width: 40px; height: 40px; padding: 0; background: none; border: none; color: #ccc; font-size: 18px; }

.pro-img { padding: 10px 10px 0; }
.pro-img img { width: 100%; }

.pro-list { padding: 5px; }
.pro-list li {width: 29.33%;border-radius: 12px;float: left;text-align: center;margin-left: 3%;padding: 10px 5px;margin-bottom: 15px;border: 1px solid #ddd;box-sizing: border-box; }
.pro-list li a { display: block; }
.pro-list li a img { width: 50px; height: 50px; border-radius: 50%; }
.pro-list li a .name { font-size: 14px; margin-top: 5px; border-bottom: 1px #eaeaea solid;padding-bottom: 6px;}
.pro-list li a .pri { font-size: 12px;margin-top: 5px;color: #fff;font-weight: bold;border-radius: 15px;background: #f46a39;color: #fff }
.pro-list li:nth-child(3n) { border-right: none; }

.about-con { background: #fff; padding: 15px; box-sizing: border-box; }
.about-con img { width: 100%; }
.about-con p { margin: 0; padding: 0; color: #555; }

.card-more { display: block; font-size: 18px; color: #333; margin: 10px auto; text-align: center; }

.reka { padding-bottom: 10px; }
.reka .img { width: 50px; height: 50px; margin-right: 10px; }
.reka .img img { width: 100%; height: 100%; }

.jingxuan { background: #fff; overflow: hidden; }
.jingxuan .item { height: 34px; line-height: 34px; width: 33.33%; float: left; text-align: center; border-bottom: 1px solid #ddd; border-right: 1px solid #ddd; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
.jingxuan .item:nth-child(3n) { border-right: none; }

.uxin-1 { padding: 15px; }
.uxin-1 .img { width: 40px; height: 40px; margin-right: 10px; }
.uxin-1 .img img { width: 100%; height: 100%; border-radius: 50%; }
.uxin-1 .des { color: #999; }
.uxin-1 .jiage { color: #ff0000; text-align: right; }

.uxin-type { padding: 0; background: #fff; overflow: hidden; border-bottom: 1px solid #ddd; }
.uxin-type li { height: 44px; text-align: center; line-height: 42px; }
.uxin-type li.active { border-bottom: 2px solid #3975e2; }
.uxin-type li.active a { color: #3975e2; }

.proshow-img { width: 100%; }
.proshow-img img { width: 100%; }

.proshow-cy { position: relative; width: 100%; overflow: hidden; margin-top: 10px; }
.proshow-cy .tit { position: absolute; width: 100%; height: 40px; left: 5px; top: 10px; background: url(../images/icon-p-tit.png) no-repeat left top; background-size: 5px 38px; }
.proshow-cy .tit .titbg { display: inline-block; height: 30px; padding: 0 15px 0 10px; margin-left: 5px; line-height: 30px; color: #fff; font-size: 15px; background: #548cf3; border-radius: 0 30px 30px 0; }
.proshow-cy .canyu { background: #fff; margin: 0 10px; padding: 55px 0 20px; border-radius: 8px; overflow: hidden; }
.proshow-cy .canyu li { width: 33.33%; float: left; text-align: center; background: url(../images/icon-p-arr.png) no-repeat left 20px; background-size: 16px; }
.proshow-cy .canyu li img { width: 40px; height: 40px; }
.proshow-cy .canyu li .txt { font-size: 12px; margin-top: 10px; }
.proshow-cy .canyu li:first-child { background: none; }
.proshow-cy .canyu .intro { font-size: 12px; padding: 0 10px; }

.proshow-on { position: fixed; bottom: 60px; left: 50px; right: 50px; background: #3975e2; color: #fff; border-radius: 40px; height: 40px; line-height: 40px; text-align: center; z-index: 99; }
.proshow-on ~ .mui-content { padding-bottom: 80px; }

.product-content { background-color: #fff; }
.product-content img { max-width: 100%; }
.product-content .product-tabcont { padding: 10px; overflow: hidden; }
.product-content .product-tabcont .product-tabitem p { color: #555; }
.product-content .product-tabcont .product-tabitem .wenda { color: #555; margin-bottom: 10px; }
.product-content .product-tabcont .product-tabitem .wenda .wen { font-weight: bold; color: #333; }
.product-content .product-tabcont .product-tabitem .wenda .da { line-height: 20px; }

.product-tab { height: 45px; border-bottom: 1px solid #ddd; text-align: center; }
.product-tab li { float: left; height: 45px; line-height: 43px; }
.product-tab li.active { border-bottom: 2px solid #3975e2; color: #3975e2; }
.product-tab li.active a { color: #3975e2; }

.jingli { height: 50px; background: #fff; text-align: center; border-top: 1px solid #eee; position: fixed; left: 0; right: 0; bottom: 44px; }
.jingli li { margin: 9px 3px; display: inline-block; }
.jingli li a { padding: 0 5px; display: block; font-size: 12px; height: 32px; line-height: 32px; color: #fff; background: #3975e2; border-radius: 5px; }
.jingli li a:before { font-size: 15px; padding-right: 3px; color: #fff; font-family: "iconfont"; content: "\e621"; }
.jingli li a.click { background: #ff575b; }
.jingli li a.click:before { content: "\e626"; }
.jingli ~ .mui-content { padding-bottom: 94px; }

.apply-img { width: 100%; }
.apply-img img { width: 100%; }
.apply-des { padding: 10px 0; background: #fff; border-top: 10px solid #f4f4f4; overflow: hidden; }
.apply-des .item { width: calc(33.33% - 10px); line-height: 26px; text-align: center; float: left; color: #999; }
.apply-des .item.on { color: #333; }
.apply-des .item-arr { width: 15px; float: left; height: 26px; background: url(../images/icon-arr.png) no-repeat center; background-size: 15px; }

.apply-intro { padding: 10px; background: #fff7eb; color: #ffb037; text-align: center; }

.apply-box .mui-input-group:before { height: 0; }
.apply-box .mui-input-group:after { height: 0; }
.apply-box .mui-input-group .mui-input-row:after { right: 15px; }
.apply-box .mui-input-row { height: 50px; }
.apply-box .mui-input-row label { padding: 0; line-height: 50px; font-size: 18px; text-align: center; width: 60px; color: #555; }
.apply-box .mui-input-row .mui-input-clear { height: 50px; width: calc(100% - 60px); }
.apply-box .mui-content-padded { margin: 20px 10px; }
.apply-xieyi { padding: 0 10px; line-height: 24px; color: #666; overflow: hidden; }
.apply-xieyi a { color: #3975e2; }

.daikuan { padding: 15px; background: #fff; }
.daikuan .pro-des { width: 100%; padding: 15px; border-radius: 8px; overflow: hidden; background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #3975e2), color-stop(1, #34c0ff)); }
.daikuan .pro-des .pro-logo { width: 60px; float: left; }
.daikuan .pro-des .pro-logo .img { width: 60px; height: 60px; background: #fff; border-radius: 5px; }
.daikuan .pro-des .pro-logo .img img { width: 50px; height: 50px; margin: 5px; }
.daikuan .pro-des .pro-logo .name { color: #fff; margin-top: 5px; text-align: center; }
.daikuan .pro-des .pro-intro { padding: 50px 0; color: #fff; }
.daikuan .pro-des .pro-edu { width: 120px; text-align: center; }
.daikuan .pro-des .pro-edu .num { font-size: 24px; display: inline-block; padding-bottom: 10px; border-bottom: 1px solid rgba(255, 255, 255, 0.4); }
.daikuan .pro-des .pro-edu .txt { font-size: 18px; margin-top: 10px; }
.daikuan .pro-des .pro-info { line-height: 24px; }
.daikuan .pro-des .pro-info p { margin: 0; padding: 0; color: #fff; }
.daikuan .pro-box { text-align: center; padding-top: 15px; }

.daikuan-box { background: #fff; margin-top: 10px; }
.daikuan-box .bt { padding: 10px 15px; border-bottom: 1px solid #ddd; font-size: 16px; }
.daikuan-box .daikuan-con { padding: 15px; }
.daikuan-box .daikuan-con p { margin: 0; padding: 0; color: #555; line-height: 26px; }
.daikuan-box .daikuan-step { padding: 10px 0; overflow: hidden; }
.daikuan-box .daikuan-step .item { width: calc(25% - 9px); text-align: center; float: left; color: #999; }
.daikuan-box .daikuan-step .item img { width: 50px; height: 50px; }
.daikuan-box .daikuan-step .item .txt { font-size: 12px; margin-top: 10px; line-height: 20px; color: #666; text-align: center; }
.daikuan-box .daikuan-step .item-arr { width: 12px; float: left; height: 50px; background: url(../images/icon-apply-arr.png) no-repeat center; background-size: 12px; }

.foot-tijiao { height: 54px; }
.foot-tijiao .tijiao { width: 100%; height: 40px; line-height: 40px; font-size: 16px; margin: 7px 0; background: #3975e2; border-radius: 5px; text-align: center; color: #fff; }

.apply-shadow { background: rgba(0, 0, 0, 0.5); position: fixed; top: 0; bottom: 0; left: 0; right: 0; z-index: 20; display: -webkit-box; -webkit-box-pack: center; -webkit-box-align: center; }
.apply-shadow .shadow-box { width: 80%; position: relative; padding-bottom: 50px; }
.apply-shadow .shadow-box .shadow-con { background: #fff; padding: 5px 15px 15px; border-radius: 8px; }
.apply-shadow .shadow-box .shadow-con .mui-input-group { margin-top: 10px; margin-bottom: 10px; }
.apply-shadow .shadow-box .shadow-con .mui-input-group:before { height: 0; }
.apply-shadow .shadow-box .shadow-con .mui-input-group:after { height: 0; }
.apply-shadow .shadow-box .shadow-con .mui-input-group .mui-input-row:after { left: 0; right: 0; }
.apply-shadow .shadow-box .shadow-con .mui-input-row { height: 50px; }
.apply-shadow .shadow-box .shadow-con .mui-input-row label { padding: 0; line-height: 50px; font-size: 18px; text-align: center; width: 50px; color: #555; position: relative; }
.apply-shadow .shadow-box .shadow-con .mui-input-row label:after { position: absolute; right: 0; top: 13px; height: 24px; width: 1px; background: #eee; content: ''; }
.apply-shadow .shadow-box .shadow-con .mui-input-row input::-webkit-input-placeholder { color: #999; }
.apply-shadow .shadow-box .shadow-con .mui-input-row .mui-input-clear { height: 50px; width: calc(100% - 60px); }
.apply-shadow .shadow-box .shadow-con .mui-input-row .input-clear-half { height: 50px; width: calc(100% - 140px); }
.apply-shadow .shadow-box .shadow-con .mui-input-row .yzm { width: 80px; height: 25px; float: right; margin-top: 12px; }
.apply-shadow .shadow-box .shadow-con .mui-input-row .yzm img { width: 100%; height: 100%; }
.apply-shadow .shadow-box .mui-content-padded { margin: 20px 0 0 0; }
.apply-shadow .shadow-box .close { position: absolute; left: 50%; bottom: 0; margin-left: -20px; width: 40px; height: 40px; line-height: 40px; font-size: 18px; border: 1px solid #eee; text-align: center; color: #fff; border-radius: 50%; background: rgba(0, 0, 0, 0.3); }

/*# sourceMappingURL=style.css.map */
.noresult{padding: 20px;text-align: center;}

.weui-bar { line-height: 50px; left: 0; right: 0; z-index: 9; }
.weui-bar:before { content: ""; -webkit-transform: scaleY(0.5); height: 1px; background-color: #DDD; position: absolute; left: 0; right: 0; z-index: -1; }
.weui-bar-header { top: 0;height: 45px;background:#f7f7f7}
.weui-bar-header .weui-bar-btnbox { position: absolute; top: 0px;color: #666; text-align: center; }
.weui-bar-header .weui-bar-btnbox.weui-bar-left { left: 0; }
.weui-bar-header .weui-bar-btnbox.weui-bar-right { right: 0; }
.weui-bar-header .weui-bar-btnbox .weui-bar-btn { height: 50px; width: 50px; float: left; font-size: 16px; }
.weui-bar-header .weui-bar-btnbox .weui-bar-link { height: 50px; width: 50px; float: left; font-size: 14px; }
.weui-bar-header .weui-bar-title { overflow: hidden;text-overflow: ellipsis; white-space: nowrap; word-wrap: break-word; word-break: break-all; margin: 0 50px; text-align: center; font-size: 17px; font-weight: 500; }
.weui-bar-header:before { bottom: 0; -webkit-transform-origin: 0 100%; }
.topcol{width:100%;height:20px;background: #3975e2;}

.mui-pagination { display: inline-block; padding-left: 0; margin: 0 auto; border-radius: 6px; }
.mui-pagination > li { display: inline; }
.mui-pagination > li > a, .mui-pagination > li > span { position: relative; float: left; padding: 6px 12px; line-height: 1.428571429; text-decoration: none; color: #3975e2; background-color: #fff; border: 1px solid #ddd; margin-left: -1px; }
.mui-pagination > li:first-child > a, .mui-pagination > li:first-child > span { margin-left: 0; border-top-left-radius: 6px; border-bottom-left-radius: 6px; background-clip: padding-box; }
.mui-pagination > li:last-child > a, .mui-pagination > li:last-child > span { border-top-right-radius: 6px; border-bottom-right-radius: 6px; background-clip: padding-box; }
.mui-pagination > li:active > a, .mui-pagination > li:active > a:active, .mui-pagination > li:active > span, .mui-pagination > li:active > span:active, .mui-pagination > li.mui-active > a, .mui-pagination > li.mui-active > a:active, .mui-pagination > li.mui-active > span, .mui-pagination > li.mui-active > span:active { z-index: 2; color: #fff; background-color: #3975e2; border-color: #3975e2; cursor: default; }
.mui-pagination > li.mui-disabled > span, .mui-pagination > li.mui-disabled > span:active, .mui-pagination > li.mui-disabled > a, .mui-pagination > li.mui-disabled > a:active { color: #777; opacity: .6; background-color: #fff; border: 1px solid #ddd; }
.mui-pagination-lg > li > a, .mui-pagination-lg > li > span { padding: 10px 16px; font-size: 18px; }
.mui-pagination-sm > li > a, .mui-pagination-sm > li > span { padding: 5px 10px; font-size: 12px; }

/*产品超市新增*/
.danpin{width:48%;float: left;height:0;border-width:0 17vw 90px 0px;border-style:none solid solid;border-color:transparent transparent #999;}
.xingdai{width:48%;float: right;height:0;border-width:0px 0px 90px 17vw;border-style:none solid solid;border-color:transparent transparent #999;}
.feedback{width:0;position: absolute;top:4px;left: 32%;height:0;border-top: 100px solid #999;border-right: 18vw solid transparent;border-left:18vw solid transparent;}
.feedbacktext{position: absolute;left: 41%;width: 18%;text-align: center;font-size: 22px;top: 20px;color: #fff;border: 1px solid #fff;border-radius: 10px;}

/*首页*/
.index{background:#e7e7e7;overflow-x: hidden;}
.index .banenr{width:100%;height:3rem;background:#cfcfcf;font-size: 14px;text-align: center;position: relative;}
.index .navList{padding:.3rem .65rem;display:flex;justify-content:space-between;background:#fff}
.index .navList li{text-align:center}
.index .navList li img{width:.9rem;height:.9rem;display:block;margin:0 auto;margin-bottom:.2rem}
.index .navList li p{font-size:13px;font-weight:700;color:#000}
.index .dashboard{width:100%;height:3.8rem;padding-top:.4rem;background:url(../images/dashbordbg.png) no-repeat #fff;background-size:100% 100%}
.index .dashboard .gradeBox .grade{width:2.8rem;height:2.54rem;margin:0 auto;text-align:center;background:url(../images/darashBox.png) no-repeat;background-size:100% 100%;color:#fff}
.index .dashboard .gradeBox .grade p:first-child{font-size:12px;padding-top:50px}
.index .dashboard .gradeBox .grade p:nth-child(2){font-size:12px}
.index .dashboard .gradeBox .grade p:first-child span{font-size:25px}
.index .dashboard .gradeBox .grade_nav{font-size:12px}
.index .dashboard .gradeBox .grade_nav img{width:.35rem;height:.35rem}
.index .dashboard .gradeBox .grade_nav{width:4.5rem;margin:0 auto;justify-content:space-between;display:flex}
.index .dashboard .gradeBox .grade_nav li{display:flex;color:#fff}
.index .dashboard .gradeBox .grade_nav li p{margin-left:.1rem;font-size:13px}
.index .dashNav{display:flex;padding:0 .9rem;padding-top:.5rem;padding-bottom:.4rem;justify-content:space-between;background:#fff}
.index .dashNav li{display:flex;align-items:center}
.index .dashNav li img{width:1.1rem;height:1.1rem;margin-right:.16rem}
.index .dashNav li .p1{font-size:14px;font-weight:700;color:#000;margin-top: 5px;}
.index .dashNav li .p2{font-size:12px;font-weight:700;color:#6b6b6b;margin-top: 5px;}
.index .news{position: relative;height: 50px;margin-top:.2rem;overflow: hidden;}
.index .newsWrapper{position: absolute;width: 100%;top: 0;left: 0;}
.index .news li{ display:flex;height: 50px;padding: 0 .4rem; justify-content:space-between;align-items:center;background:#fff;box-sizing: border-box;}
.index .news img{width:1.46rem;height:.36rem}
.index .news .text{margin-left:.3rem;margin-right:.3rem;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;font-size:14px;color:#6b6b6b}
.index .news .back img{width:.15rem;height:.25rem}
.index .recommend{margin-top:.2rem;color:#000;background:#fff}
.index .recommend .title{display:flex;align-items:center;padding:.4rem .3rem;border-bottom:1px solid #e7e7e7}
.index .recommend .title img{width:.33rem;height:.45rem;margin-right:.1rem}
.index .recommend .title h3{font-size:14px}
.index .recommend .cont{padding:.3rem .3rem;height:4rem;font-size:12px}



.xuanfuleft {
    width: 90px;
    height: 80px;
    background: red;
    position: fixed;
    animation: mymove 15s infinite;
    -webkit-animation: mymove 15s infinite;
    z-index: 666;
    animation-direction: alternate;
    -webkit-animation-direction: alternate;
}

@keyframes mymove {
    from {
        top: 0px;
    }

    to {
        top: 500px;
    }
}


@-webkit-keyframes mymove {
    from {
        bottom: 0px;
    }

    to {
        bottom: 500px;
    }
}