
@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>每日黑科技</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no, viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">

</head>



<body class="mui-ios mui-ios-11 mui-ios-11-0">
    <div class="mui-content">
        <p>新手指南列表</p>
        <div class="list">

        </div>



    </div>

    <script>

        init();

        function init() {
            //获取列表
            $.ajax({
                url: "/api/HeiKeji",
                data: { type: "每日黑科技" },
                type: 'Get',
                success: function (data) {
                    debugger
                    var html = "";
                    if (data) {
                        for (var i = 0; i < data.length; i++) {
                            //CommentCount: 3
                            //ContentBody: "<p>欢迎使用 wangEditor 富文本编辑器</p><p><img src="http://47.104.186.251:8001/Upload/News/1.jpg" style="max-width:100%;"><br></p>"
                            //CreateTime: null
                            //CreateUserIcon: null
                            //CreateUserNickName: "dfhdf "
                            //CreateUserNo: null
                            //LikeCount: 3
                            //No: 25
                            //Title: "3         "
                            //ViewCount: 3
                            html += "<p>  title:" + data[i].Title + "     </p>";
                            html += "<p>  ContentBody:" + data[i].ContentBody + "     </p>";
                        }
                    } else {
                        html += "<li>";
                        html += "无数据";
                        html += "</li>";
                    }
                    $(".list").html(html);
                },
                error: function (e) {
                    console.error("服务器异常" + e);
                }
            });
        }

        function GetDetail() {
            //获取详情
            $.ajax({
                url: "/api/TypeViewGrade",
                data: { id: 7 },
                type: 'Get',
                success: function (data) {
                    var html = "";
                    if (data) {
                        for (var i = 0; i < data.length; i++) {
                            html += "<li>";
                            html += "<a href='/Product/ProductList?typeId=" + data[i].No + "'>";
                            html += "<img src='" + data[i].Icon + "'><span class='txt' style='width: 100px;'>" + data[i].Name + "</span>";
                            html += "</a>";
                            html += "</li>";
                        }
                    } else {
                        html += "<li>";
                        html += "无数据";
                        html += "</li>";
                    }
                    $(".data").html(html);
                },
                error: function (e) {
                    console.error("服务器异常" + e);
                }
            });
        }


    </script>

</body>
</html>