
@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>每日黑科技</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no, viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <script type="text/javascript" src="~/Content/Files/最新口子_files/jquery-2.2.3.min.js"></script>
    <style>
        h3, h4 {
            color: #f00;
            text-align: center;
        }
    </style>
</head>



<body class="mui-ios mui-ios-11 mui-ios-11-0">
    <div class="mui-content">
        <p>这个是每日黑科技</p>
        <div class="list">
            <p>全新信用卡代还口子，保证你没做过！只要你信用卡正常使用半年以上就来，秒批最高五万</p>
            <img style="width:100px;height:80px;background:pink;" />
            <a href="#">
                <img width="100%" src="~/Content/Static/heikeji1.jpg" />
            </a>
            <a href="#">
                <img width="100%" src="~/Content/Static/heikeji2.jpg" />
            </a>
            <h3>注意事项</h3>
            <p>1,填写完资料没额度的或者是贷款超市的也就是被婉拒了，连带赠送30天大礼包</p>
            <p>2，申请过程中会授权查询央行征信报告，同盾，聚信立，摩羯，鹏元等互联网大数据信息及报告，征信有逾期的老哥不要碰瓷。 </p>
            <p>3,信用卡尽量选用有流水的，有正常使用并且按期还款的。  </p>
            <h4>代还信用卡支持哪些银行？</h4>
            <p>信用卡：工商银行，建设银行，中国银行，农业银行，招商银行，兴业银行，光大银行，浦发银行，平安银行，广发银行，中信银行，民生银行，交通银行</p>
            <h3>口子介绍</h3>
            <p>风明卡贷，改口子是一款近期上线不久的信用卡代偿产品，主要是通过填写资料授权额度，最高可达五万元，分期可分3/6期，正常还款后可获得加贷，申请时需要授权获取手机账单，整体资料较少，但征信近期有逾期的老哥不要碰瓷！</p>
        </div>



    </div>

    <script>

        init();

        function init() {
            //获取列表
            $.ajax({
                url: "/api/HeiKeji",
                data: { type: "每日黑科技" },
                type: 'Get',
                success: function (data) {
                    debugger
                    var html = "";
                    if (data) {
                        for (var i = 0; i < data.length; i++) {
                            //CommentCount: 3
                            //ContentBody: "<p>欢迎使用 wangEditor 富文本编辑器</p><p><img src="http://47.104.186.251:8001/Upload/News/1.jpg" style="max-width:100%;"><br></p>"
                            //CreateTime: null
                            //CreateUserIcon: null
                            //CreateUserNickName: "dfhdf "
                            //CreateUserNo: null
                            //LikeCount: 3
                            //No: 25
                            //Title: "3         "
                            //ViewCount: 3
                            html += "<p>  title:" + data[i].Title + "     </p>";
                            html += "<p>  ContentBody:" + data[i].ContentBody + "     </p>";
                        }
                    } else {
                        html += "<li>";
                        html += "无数据";
                        html += "</li>";
                    }
                    $(".list").html(html);
                },
                error: function (e) {
                    console.error("服务器异常" + e);
                }
            });
        }

        function GetDetail() {
            //获取详情
            $.ajax({
                url: "/api/TypeViewGrade",
                data: { id: 7 },
                type: 'Get',
                success: function (data) {
                    var html = "";
                    if (data) {
                        for (var i = 0; i < data.length; i++) {
                            html += "<li>";
                            html += "<a href='/Product/ProductList?typeId=" + data[i].No + "'>";
                            html += "<img src='" + data[i].Icon + "'><span class='txt' style='width: 100px;'>" + data[i].Name + "</span>";
                            html += "</a>";
                            html += "</li>";
                        }
                    } else {
                        html += "<li>";
                        html += "无数据";
                        html += "</li>";
                    }
                    $(".data").html(html);
                },
                error: function (e) {
                    console.error("服务器异常" + e);
                }
            });
        }


    </script>

</body>
</html>