
@{
    Layout = null;
}
<!DOCTYPE html>
<!-- saved from url=(0048)http://www.uxiangquan.cn/index/index/market.html -->
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="~/Content/Files/产品超市_files/swiper.3.1.2.min.css">

    <title>财经</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no, viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" href="~/Content/Files/产品超市_files/mui.min.css">
    <link rel="stylesheet" href="~/Content/Files/产品超市_files/iconfont.css">
    <link rel="stylesheet" href="~/Content/Files/产品超市_files/style.css">
    <link href="~/Content/Css/style.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Content/Files/产品超市_files/jquery-2.2.3.min.js"></script>
    <script type="text/javascript" src="~/Content/Files/产品超市_files/mui.min.js"></script>
    <script type="text/javascript" src="~/Content/Files/产品超市_files/jquery.func.js"></script>
    <script src="~/Scripts/Common/common.js"></script>

    <style>
        .notices .bg .cont {
            height: 30px;
            line-height: 30px;
            font-size: 14px;
            color: #f24a00;
        }

        .mui-table-view-cell:after {
            right: 15px !important;
        }

        .notice {
            width: 98%;
            margin: 8px 1%;
        }

        .indexsearch {
            margin: 10px 1%;
        }

            .indexsearch button {
                width: 80px;
                padding: 0 10px;
                height: 38px;
                background-color: #08C1B0;
                color: #fff;
                padding: 0;
                border: none;
                font-size: 18px;
            }

        .card-bank li {
            width: 25%;
            float: left;
        }

        .swiper-pagination-bullet {
            width: 20px !important;
            border-radius: 20% !important;
        }

        .timecountdown {
            float: right;
            color: #fff;
        }

            .timecountdown span {
                background: #000;
                color: #fff;
                font-size: 14px;
                width: 24px;
                text-align: center;
                display: inline-block;
                padding: 0px 4px -1px 2px;
                border-radius: 3px;
            }

        a:hover {
            -webkit-tap-highlight-color: transparent;
        }
    </style>
    <style type="text/css">
        button {
            line-height: 1 !important;
        }

        .borderbutton {
            border-bottom: 1px solid #666;
        }

        .closebox {
            position: absolute;
            left: 50%;
            bottom: 0;
            margin-left: -20px;
            width: 40px;
            height: 40px;
            line-height: 40px;
            font-size: 18px;
            border: 1px solid #eee;
            text-align: center;
            color: #fff;
            border-radius: 50%;
            background: rgba(0, 0, 0, 0.3);
        }

        #tab-list {
            padding-bottom: 60px;
        }

        #ul1 {
            border-bottom: 2px solid #8B4513;
            padding-left: 8px;
            margin: 0;
        }

            #ul1 li {
                display: inline-block;
                width: 22%;
                line-height: 30px;
                text-align: center;
                border: 1px solid #999;
                border-bottom: none;
                margin-left: 5px;
            }

                #ul1 li:hover {
                    cursor: pointer;
                }

                #ul1 li.active {
                    border-top: 2px solid #8B4513;
                    border-bottom: 2px solid #FFFFFF;
                }

        #tab-list div {
            border-top: none;
        }

            #tab-list div li {
                line-height: 30px;
                list-style: none;
                position: relative;
                overflow: hidden;
                border-bottom: 1px solid #ddd;
            }

                #tab-list div li p {
                    padding: 0px 0 0px 15px;
                    padding-right: 15px;
                }

        .show {
            display: block;
        }

        .hide {
            display: none;
        }

        .searchinput {
            width: 70% !important;
            background: #fff !important;
            margin: 10px 0 0 10px !important;
            text-align: left !important;
            font-size: 14px !important;
        }

        .swiper-pagination-bullet {
            width: 8px !important;
            border-radius: 8px !important;
        }

        .listdetail {
            background: #fff;
        }

            .listdetail ul {
                margin-top: 0;
                margin-bottom: 0;
            }

                .listdetail ul li {
                    padding-top: 10px;
                }

            .listdetail ul {
                margin-top: 0;
                margin-bottom: 0;
            }

                .listdetail ul li {
                    padding-top: 10px;
                }

        .liulanliang, .zuozhe, .liulanliangone, .zuozheone {
            float: left;
            width: 50%;
        }


        .liulanliangone {
            position: relative;
            right: -84px;
        }

        .listdetail p span {
            padding-left: 7px;
        }

            .listdetail p span:first-child {
                padding-left: 0;
            }

        .list1 {
            position: relative;
        }

        .photoone {
            position: absolute;
            top: 14px;
        }

            .photoone img {
                width: 70px;
                height: 70px;
                border-radius: 7px;
            }

        .newsListone {
            padding-left: 100px !important;
            line-height: 22px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
    </style>
</head>

<body class="mui-ios mui-ios-11 mui-ios-11-0">
    <footer class="mui-bar mui-bar-footer nav-bottom">
        <ul class="clearListStyle mui-clearfix">
            <li><a href="/Loan/Index"><span class="iconfont icon-shouye"></span>首页</a></li>
            <li><a href="/Forum/Index"><span class="iconfont icon-icon_replieslist"></span>交流专区</a></li>
            <li class="active"><a href="/News/Index"><span class="iconfont icon-weibiaoti35"></span>财经</a></li>
            <li><a href="/Me/Index"><span class="iconfont icon-wode"></span>我的</a></li>
        </ul>
    </footer>


    <div class="mui-content">

        <!--banner-->
        <div class="banner">
            <div class="swiper-container swiper-container-horizontal">
                <div class="swiper-wrapper" style="transition-duration: 0ms; transform: translate3d(0px, 0px, 0px);height:160px;">
                    <div class="swiper-slide" style="width: 375px;">
                        <a href="#">
                            <img style="min-height: 188px;height:160px;" src="~/Content/Images/caijing/caijingtop.jpg">
                        </a>
                    </div>
                    <div class="swiper-slide" style="width: 375px;">
                        <a href="#">
                            <img style="min-height: 188px;height:160px;" src="~/Content/Images/caijing/caijingtop2.jpg">
                        </a>
                    </div>
                    <div class="swiper-slide" style="width: 375px;">
                        <a href="#">
                            <img style="min-height: 188px;height:160px;" src="~/Content/Images/caijing/caijingtop3.jpg">
                        </a>
                    </div>
                </div>
                <div class="swiper-pagination">
                    <span class="swiper-pagination-bullet swiper-pagination-bullet-active">
                    </span>
                    <span class="swiper-pagination-bullet">
                    </span>
                    <span class="swiper-pagination-bullet "></span>
                </div>
            </div>
        </div>

        <!--搜索-->
        <div>
            <input type="search" class="searchinput  keyword" placeholder="请输入文章标题关键字">
            <button style="line-height: 1.42 !important;margin: 10px 0 10px 10px;width:21%;" type="button" onclick="Search()">搜索</button>
        </div>

        <div id="tab-list">
            <ul id="ul1">
                <li class="active">热门</li>
                <li>最新</li>
                <li>动态</li>
                <li>专栏</li>
            </ul>
            <!--热门-->
            <div class="">
                <section class="listdetail">
                    <ul style="padding-inline-start: 0px;" class="dataul1">
                        <li>
                        </li>
                    </ul>
                </section>
            </div>

            <!--最新-->
            <div class="hide ">
                <section class="listdetail">
                    <ul style="padding-inline-start: 0px;" class="dataul2">
                        <li class="list2">
                        </li>
                    </ul>
                </section>
            </div>

            <!--动态-->
            <div class="hide ">
                <section class="listdetail">
                    <ul style="padding-inline-start: 0px;" class="dataul3">
                        <li class="list3">
                        </li>
                    </ul>
                </section>
            </div>

            <!--专栏-->
            <div class="hide ">
                <section class="listdetail">
                    <ul style="padding-inline-start: 0px;" class="dataul4">
                        <li class="list4">
                        </li>
                    </ul>
                </section>
            </div>

        </div>
    </div>


    <script type="text/javascript" src="~/Content/Files/最新口子_files/jquery-2.2.3.min.js"></script>
    <script src="~/Content/Files/U享圈_files/swiper.3.1.2.jquery.min.js"></script>
    <link rel="stylesheet" href="~/Content/Files/U享圈_files/swiper.3.1.2.min.css">

    <script>

        window.onload = function () {
            var oUl1 = document.getElementById("ul1");
            var aLi = oUl1.getElementsByTagName("li");
            var oDiv = document.getElementById("tab-list");
            var aDiv = oDiv.getElementsByTagName("div");
            for (var i = 0; i < aLi.length; i++) {
                aLi[i].index = i;
                aLi[i].onmouseover = function () {
                    for (var i = 0; i < aLi.length; i++) {
                        aLi[i].className = "";
                    }
                    this.className = "active";
                    for (var j = 0; j < aDiv.length; j++) {
                        aDiv[j].className = "hide";
                    }
                    aDiv[this.index].className = "show";
                }
            }

            var banner_swiper = new Swiper('.banner .swiper-container', {
                pagination: '.banner .swiper-pagination',
                autoplay: 3000
            });
        }
    </script>
    <script>

        //轮播
        var banner_swiper = new Swiper('.banner .swiper-container', {
            pagination: '.banner .swiper-pagination',
            autoplay: 3000
        });

        init();

        function init() {
            //获取列表 - list1
            $.ajax({
                url: "/api/HeiKeji",
                data: { type: "热门" },
                type: 'Get',
                success: function (data) {

                    var html = "";
                    if (data) {
                        for (var i = 0; i < data.length; i++) {
                            html += "<li class='list1'>";
                            html += "<p class='newsListone'>";
                            html += "<a href='/News/NewsDetails?no=" + data[i].No + "'>  " + data[i].Title + "  </s>  ";
                            html += " </p>";

                            html += "<p class='photoone'>";
                            html += "<a><img class='CarryImg'  src='" + data[i].CarryImg1 + "' title='附图1'  /></a>";
                            html += "</p>";

                            html += "<p class='liulanliangone'>";
                            html += "<a>";
                            html += "<span>浏览量</span><span>" + data[i].ViewCount + "</span>";
                            html += "</a>";
                            html += "</p>";

                            html += "<p class='zuozheone'>";
                            html += "<a>";
                            html += "<span>作者</span><span>" + data[i].CreateUserNickName + "</span>";
                            html += "</a>";
                            html += "</p>";
                            html += "</li>";
                        }
                    } else {
                        html += "<li>";
                        html += "无数据";
                        html += "</li>";
                    }
                    $(".dataul1").html(html);
                },
                error: function (e) {
                    console.error("服务器异常" + e);
                }
            });

            //获取列表 - list2
            $.ajax({
                url: "/api/HeiKeji",
                data: { type: "最新" },
                type: 'Get',
                success: function (data) {

                    var html = "";
                    if (data) {
                        for (var i = 0; i < data.length; i++) {
                            html += "<li class='list1'>";
                            html += "<p class='newsListone'>";
                            html += "<a href='/News/NewsDetails?no=" + data[i].No + "'>  " + data[i].Title + "  </s>  ";
                            html += " </p>";

                            html += "<p class='photoone'>";
                            html += "<a><img class='CarryImg'  src='" + data[i].CarryImg1 + "' title='附图1'  /></a>";
                            html += "</p>";

                            html += "<p class='liulanliangone'>";
                            html += "<a>";
                            html += "<span>浏览量</span><span>" + data[i].ViewCount + "</span>";
                            html += "</a>";
                            html += "</p>";

                            html += "<p class='zuozheone'>";
                            html += "<a>";
                            html += "<span>作者</span><span>" + data[i].CreateUserNickName + "</span>";
                            html += "</a>";
                            html += "</p>";
                            html += "</li>";
                        }
                    } else {
                        html += "<li>";
                        html += "无数据";
                        html += "</li>";
                    }
                    $(".dataul2").html(html);
                },
                error: function (e) {
                    console.error("服务器异常" + e);
                }
            });

            //获取列表 - list3
            $.ajax({
                url: "/api/HeiKeji",
                data: { type: "动态" },
                type: 'Get',
                success: function (data) {

                    var html = "";
                    if (data) {
                        for (var i = 0; i < data.length; i++) {
                            html += "<li class='list1'>";
                            html += "<p class='newsListone'>";
                            html += "<a href='/News/NewsDetails?no=" + data[i].No + "'>  " + data[i].Title + "  </s>  ";
                            html += " </p>";

                            html += "<p class='photoone'>";
                            html += "<a><img class='CarryImg'  src='" + data[i].CarryImg1 + "' title='附图1'  /></a>";
                            html += "</p>";

                            html += "<p class='liulanliangone'>";
                            html += "<a>";
                            html += "<span>浏览量</span><span>" + data[i].ViewCount + "</span>";
                            html += "</a>";
                            html += "</p>";

                            html += "<p class='zuozheone'>";
                            html += "<a>";
                            html += "<span>作者</span><span>" + data[i].CreateUserNickName + "</span>";
                            html += "</a>";
                            html += "</p>";
                            html += "</li>";
                        }
                    } else {
                        html += "<li>";
                        html += "无数据";
                        html += "</li>";
                    }
                    $(".dataul3").html(html);
                },
                error: function (e) {
                    console.error("服务器异常" + e);
                }
            });

            //获取列表 - list4
            $.ajax({
                url: "/api/HeiKeji",
                data: { type: "专栏" },
                type: 'Get',
                success: function (data) {

                    var html = "";
                    if (data) {
                        for (var i = 0; i < data.length; i++) {
                            html += "<li class='list1'>";
                            html += "<p class='newsListone'>";
                            html += "<a href='/News/NewsDetails?no=" + data[i].No + "'>  " + data[i].Title + "  </s>  ";
                            html += " </p>";

                            html += "<p class='photoone'>";
                            html += "<a><img class='CarryImg'  src='" + data[i].CarryImg1 + "' title='附图1'  /></a>";
                            html += "</p>";

                            html += "<p class='liulanliangone'>";
                            html += "<a>";
                            html += "<span>浏览量</span><span>" + data[i].ViewCount + "</span>";
                            html += "</a>";
                            html += "</p>";

                            html += "<p class='zuozheone'>";
                            html += "<a>";
                            html += "<span>作者</span><span>" + data[i].CreateUserNickName + "</span>";
                            html += "</a>";
                            html += "</p>";
                            html += "</li>";
                        }
                    } else {
                        html += "<li>";
                        html += "无数据";
                        html += "</li>";
                    }
                    $(".dataul4").html(html);
                },
                error: function (e) {
                    console.error("服务器异常" + e);
                }
            });
        }

        //搜索
        function Search() {
            var str = $(".keyword").val();
            if (!str || str.length == 0 || str == "") {
                alert("请输入查询关键字");
                return;
            }
            window.location.href = "/News/SearchCaijing?keyword=" + str;
        }

    </script>




</body>
</html>
