
@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>境外提额</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no, viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <style>
        p {
            color:#333;
        }
    </style>
</head>



<body class="mui-ios mui-ios-11 mui-ios-11-0">
    <p>信用卡境外消费提额强势来袭!月均消费2-5次1-6月内提升信用卡额度!线上产品,无需当面办理</p>
    <div class="mui-content">
        <img width="100%" src="~/Content/Static/jingwai1.jpg" />
    </div>
    <h3>为什么要养卡？</h3>
    <p>因为信用卡背后的百万财富已经来临!浦发银行万用金30万!广发银行财智金30万!交通银行好享贷30万!兴业银行兴闪贷20万!农业银行网捷贷30万!平安银行灵用金30万!</p>
    <p>招商银行e招贷30万！中信银行圆梦金30万!中信银行新快线20万!光大银行乐惠金30万!民生银行通宝卡100万!华夏银行易达金30万!工商银行融 e 借30万!建设银行快贷30万!中国银行 E 贷30万!邮政银行邮享贷30万!</p>
    <img width="100%" src="~/Content/Static/jingwai2.jpg" />
    <img width="100%" src="~/Content/Static/jingwai3.jpg" />
    <img width="100%" src="~/Content/Static/jingwai4.jpg" />
    <a href="/Product/KefuNine">
        <img width="100%" src="~/Content/Static/jingwai5.png" />
    </a>
</body>
</html>