
@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>滚动新闻</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no, viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <script src="~/Scripts/Common/mui.min.js"></script>
    <style>
        .xinwenstyle1 {
            padding: 10px 10px 10px 10px;
        }

            .xinwenstyle1 div {
                float: left;
                width: 100%;
                color: #333;
            }

            .xinwenstyle1 span {
                margin-left: 15px;
            }

            .xinwenstyle1 ul {
                padding-bottom: 10px;
                overflow: hidden;
                clear: both;
            }

                .xinwenstyle1 ul li {
                    width: 33%;
                    float: left;
                    list-style: none;
                }

        .data {
            margin: 10px 15px;
            overflow: hidden;
        }

        .lists {
            overflow: hidden;
            border-bottom: 1px solid #eee;
            padding: 0 0 10px 0;
        }
    </style>
</head>



<body class="mui-ios mui-ios-11 mui-ios-11-0">
    <div class="mui-content">
        <div class="list">
        </div>
        <div class="data">


        </div>
        <input type="hidden" class="newno" value="@Model" />

    </div>
    <script type="text/javascript" src="~/Content/Files/最新口子_files/jquery-2.2.3.min.js"></script>
    <script>

        init();

        function init() {
            var no = $(".newno").val();
            //获取列表
            $.ajax({
                url: "/api/NewsDetails?no=" + no,
                type: 'Get',
                success: function (data) {
                    debugger
                    var html = "";
                    if (data) {
                        html += "<div class='lists xinwenstyle1'>";
                        html += "<p style='padding - top: 10px; '>" + data.Title + "</p>";
                        html += "<br/>";
                        html += "<span> " + data.CreateUserNickName+" 作者</span>";

                        html += "<span>" + data.ViewCount + "阅读</span>";
                        html += "<hr/>";
                        html += "<div>" + data.ContentBody + "</div>";
                        html += "</div>";

                    } else {
                        html += "<li>";
                        html += "无数据";
                        html += "</li>";
                    }
                    $(".data").html(html);
                },
                error: function (e) {
                    console.error("服务器异常" + e);
                }
            });
        }



    </script>


</body>
</html>