
@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>新手指南</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no, viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <script type="text/javascript" src="~/Content/Files/最新口子_files/jquery-2.2.3.min.js"></script>
</head>



<body class="mui-ios mui-ios-11 mui-ios-11-0">
  <video  src="http://www.jiaodai.online/content/static/video/shipin.mp4" controls="controls" width="100%"></video>

    <div class="zhinandetail">
        <h3>新手指南</h3>
        <p>加入我们实现财务自由。</p>
        <p>鑫融汇平台</p>
        <p>0门槛创业</p>
        <p>随时分享，佣金拿不停！</p>
        <p>你还能再为赚不到钱而苦恼吗？</p>
        <p>加入我们教你如何躺赚，</p>
        <p>只要你乐于裂变分享，你的圈子无限大，预测未来不如亲手创造未来，年入百万不是梦！</p>
        <p>本平台所有产品都是全流程免费申请，借款时所需要前期费用，申请需谨慎，以防上当受骗</p>
        <p>
            鑫融汇平台与多方银行、P2P、金融机构，其中包括兴业银行、浦发银行、交通银行、民生银行、光大银行与各大行ETC...宜信、玖富、拍拍贷、你我贷、海尔消费金融，等数十家P2P、消费金融、信用卡发卡机构合作。包含全国性大型商业银行、上市P2P企业、及行业标杆型金融公司达成战略合作，后续我们也将继续不断增加合作机构，全方位实现为鑫融汇用户提供更专业、更全面的金融教学服务
            让不懂贷款的你，易如反掌。
        </p>
    </div>
    <div class="mui-content">
        @*<p>新手指南列表</p>
        <div class="list">
        </div>*@
    </div>

    <script>

        init();

        function init() {
            //获取列表
            $.ajax({
                url: "/api/HeiKeji",
                data: { type: "新手指南" },
                type: 'Get',
                success: function (data) {
                    debugger
                    var html = "";
                    if (data) {
                        for (var i = 0; i < data.length; i++) {
                            //CommentCount: 3
                            //ContentBody: "<p>欢迎使用 wangEditor 富文本编辑器</p><p><img src="http://47.104.186.251:8001/Upload/News/1.jpg" style="max-width:100%;"><br></p>"
                            //CreateTime: null
                            //CreateUserIcon: null
                            //CreateUserNickName: "dfhdf "
                            //CreateUserNo: null
                            //LikeCount: 3
                            //No: 25
                            //Title: "3         "
                            //ViewCount: 3
                            html += "<p>  title:" + data[i].Title + "     </p>";
                            html += "<p>  ContentBody:" + data[i].ContentBody + "     </p>";
                        }
                    } else {
                        html += "<li>";
                        html += "无数据";
                        html += "</li>";
                    }
                    $(".list").html(html);
                },
                error: function (e) {
                    console.error("服务器异常" + e);
                }
            });
        }

        function GetDetail() {
            //获取详情
            $.ajax({
                url: "/api/TypeViewGrade",
                data: { id: 7 },
                type: 'Get',
                success: function (data) {
                    var html = "";
                    if (data) {
                        for (var i = 0; i < data.length; i++) {
                            html += "<li>";
                            html += "<a href='/Product/ProductList?typeId=" + data[i].No + "'>";
                            html += "<img src='" + data[i].Icon + "'><span class='txt' style='width: 100px;'>" + data[i].Name + "</span>";
                            html += "</a>";
                            html += "</li>";
                        }
                    } else {
                        html += "<li>";
                        html += "无数据";
                        html += "</li>";
                    }
                    $(".data").html(html);
                },
                error: function (e) {
                    console.error("服务器异常" + e);
                }
            });
        }


    </script>
</body>
</html>