
@{
    Layout = null;
}
<!DOCTYPE html>
<!-- saved from url=(0055)http://www.uxiangquan.cn/index/index/product/day/2.html -->
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>客服50</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no, viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">


</head>

<body class="mui-ios mui-ios-11 mui-ios-11-0">
    <div class="mui-content">
        <img src="~/Content/Images/Common/kefu50.jpg" style="width:100%" />
     
    </div>


</body>
</html>
