@{
    Layout = null;
}
<!DOCTYPE html>
<!-- saved from url=(0055)http://www.uxiangquan.cn/index/index/product/day/2.html -->
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>升级会员</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no, viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <style>
        .vipcont {
            padding:0;
            margin:0;
        }
        .vipbanner img{
            width:100%;
        }
        .viplists li {

        }
    </style>
</head>

<body class="mui-ios mui-ios-11 mui-ios-11-0" style="padding:0;margin:0;">
    <div class="vipcont">
        <div class="vipbanner">
            <a href="#">
                <img style="min-height: 188px" src="~/Content/Files/U享圈_files/5ce1701d8101e.jpg">
            </a>
        </div>
        <div class="viplists">
            <ul>
                <li>产品详情</li>
                <li>购买须知</li>
                <li>常见问题</li>
            </ul>
        </div>
        <div class="" style="viplistsdetail">
             <div></div>
             <div>
                 <h2>鑫融汇简介</h2>
                 <p>鑫融汇是一个综合金融信息服务平台；所有用户均可享受免费申请借款,信用卡的权限，平台本着普惠大众的服务理念，通过移动互联网让更多的人参与，了解P2P，银行,金融机构的业务流程，和产品的使用和解析。追求全新的互联网金融发展模式。旨在改变行业服务乱象，及P2P，银行，金融机构原有的推广及盈利模式；“鑫融汇”的运营不仅能为金融机构降低运营，营销的成本，同时还能让大众第一时间享受到金融领域福利，实现人人都是金融家的梦想，实现共赢，多赢的局面</p>  
             </div>


        </div>
    </div>




</body>
</html>
