@{
    Layout = null;
}
<!DOCTYPE html>
<!-- saved from url=(0055)http://www.uxiangquan.cn/index/index/product/day/2.html -->
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>会员协议</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no, viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <script src="~/Scripts/Common/mui.min.js"></script>
    <style>
        h3 {
            margin-left: 10px;
            border-bottom: 1px solid #eee;
            padding: 10px 0 10px 0;
        }

        h6 {
            font-size: 16px;
        }

        .vipcont {
            padding: 0 10px 0 10px;
        }
    </style>
</head>

<body class="mui-ios mui-ios-11 mui-ios-11-0" style="padding:0;margin:0;">
    <div class="vipcont">

        <div class="" style="viplistsdetail">
            <h3>会员协议</h3>
            <h4>"鑫融汇"公众号平台许可及服务协议</h4>
            <h6>【导言】</h6>
            <p>欢迎您使用“鑫融汇”微信公众号服务！</p>
            <p>为使用“鑫融汇”公众号（以下统称为“本公众号”）及服务，您应当阅读并遵守《“鑫融汇”公众号许可及服务协议》（以下简称“本协议”）。请您务必审慎阅读，充分理解各条款内容，特别是免除或者限制责任的条款，以及开通或使用某项服务的单独协议，并选择接受或不接受。限制，免责条款可能以加粗形式提示您注意。</p>
            <p>除非您已阅读并接受本协议所有条款，否则您无权使用本公众号相关服务。您的使用，登录等行为即视为您已阅读并同意本协议的约束。</p>
            <p>如果您未满18周岁，请在法定监护人的陪同下阅读本协议，并特别注意未成年人使用条款，同时本产品为虚拟产品，购买即开通所有服务，因此不支持退款，请知悉！</p>
            <h6>一，【协议的范围】</h6>
            <p>1.1【协议适用主体范围】</p>
            <p>本协议是您与鑫融汇之间关于您使用，登录本平台，以及使用本服务所订立的协议。</p>
            <p>1.1【协议关系及冲突条款】</p>
            <p>本协议的内容，包括但不限于一下与本服务，本协议相关的协议，规则，规范以及鑫融汇可能不断发布的关于本服务的相关协议，规则，规范等内容，前述内容一经正式发布，即为本协议不可分割的组成部分，与其构成统一整体，您同样应当遵守。</p>
            <h6>二，【关于本服务】</h6>
            <p>2.1【本服务内容】</p>
            <p>本服务内容是指鑫融汇通过本微信公众平台（公众号：鑫融汇）向用户提供的相关服务（简称本服务）</p>
            <p>2.2【本服务形式】</p>
            <p>您可能可以通过电脑，手机等终端以客户端，网页等形式使用本服务，具体以鑫融汇提供的为准，同时，鑫融汇会不断丰富您使用本服务的终端，形式等。当您使用本服务时，您应选择与您的终端，系统等相匹配的版本，否则，您可能无法正常使用本服务。</p>
            <p>2.3【许可的范围】</p>
            <p>2.3.1鑫融汇给予您一项个人的，不可转让及非排他性的许可，以使用本平台。您可以为非商业目的的使用本服务。</p>
            <p>2.3.2本条及本协议其他条款未明示授权的其他一切权利仍由鑫融汇保留，您在行驶这些权利时须另外取得鑫融汇的书面许可。鑫融汇如果未行驶前述任何权利，并不构成对该权利的放弃。</p>
            <h6>三，【服务的获取】</h6>
            <p>3.1您可以直接从微信公众平台（公众号：鑫融汇）获取本服务</p>
            <p>3.1如果您从未经鑫融汇授权的第三方获取本服务或与本公众号名称相同的安装程序，鑫融汇无法保证该服务能够正常使用，并对因此给您造成的损失不予负责。</p>
            <h6>四，【服务系统的更新】</h6>
            <p>4.1为了增进用户体验，完善服务内容，鑫融汇将不断努力开发新的服务，并为您不时提供系统更新。</p>
            <p>4.2为了改善用户体验，并保证服务的安全性和功能的一致性，鑫融汇有权不经向您特别通知而对服务系统进行更新，或者对部分功能效果进行改变或限制。</p>
            <h6>五，【用户个人信息保护】</h6>
            <p>5.1保护用户个人信息是鑫融汇的意向基本原则，鑫融汇将会采取合理的措施保护用户的个人信息。除法律法规规定的情形外，未经用户许可鑫融汇不会向第三方公开，透露用户个人信息。鑫融汇对相关信息采用专业加密存储与传输方式，保障用户个人信息的安全。</p>
            <p>5.2您在使用本服务的过程中，可能需要填写一些必要的信息。若国家法律法规或政策有特殊规定的，您需要填写真实的身份信息。若您填写的信息不完整，则无法使用本服务或在使用过程中受到限制。</p>
            <p>5.3一般情况下，您可随时浏览，修改自己提交的信息，但出于安全性和身份识别的考虑，您可能无法修改部分验证信息。</p>
            <p>5.4鑫融汇将运用各种安全技术和程序建立完善理制度来保护您的个人信息，以免遭受未授权的访问，使用或披露。</p>
            <p>5.5鑫融汇非常重视对未成年人个人信息的保护。若您是18周岁以下的未成年人，在使用本服务前，应事先取得您家长或法定监护人的书面同意。</p>
            <h6>六，【用户行为规范】</h6>
            <p>6.1【用户注意事项】</p>
            <p>6.1.1您充分理解并同意：为了向您提供更好的网络社交服务，本服务的某些功能可能会让第三方知晓您的某些信息，例如：人脉好友可以查询您提交的可公开的个人资料。您应了解本部分的信息公开或透露可能会给你带来潜在风险，并自行承担因此造成的风险。</p>
            <p>6.1.2您充分理解并同意：为改善，优化相应服务，鑫融汇可能会对您的昵称，头像以及在本公众号中的相关操作信息等信息进行使用，也可能向您本人，其他用户展示您的相关信息。鑫融汇也可能会基于保护您的个人信息安全等安全因素，收集，使用您的相关操作行为等信息。</p>
            <p>6.1.3鑫融汇有权在本服务中或通过本服务向您展现各种信息，包括但不限于广告信息，新闻信息及宣传信息等，该信息可能以系统信息或弹出窗口等形式出现。</p>
            <p>6.1.4您可以选择不向鑫融汇提供您的某些信息，但因此可能会导致相关服务功能无法实现。</p>
            <p>6.1.5您理解并同意：鑫融汇将会尽其商业上的合理努力保障您在本平台及服务中的数据存储安全，但是鑫融汇并不能为此提供完全保证，包括但不限于以下情形：</p>
            <p>(1)鑫融汇不对您在本平台及服务中相关数据的删除或储存失败负责；</p>
            <p>（2）鑫融汇有权根据实际情况自行决定您在本平台及服务中数据的最长储存期限，服务器中数据的最大储蓄空间等，您可根据自己的需要自行备份本平台及服务中的相关数据。双方另有约定的按相应约定执行；</p>
            <p>(3)如果您停止使用本服务或服务被终止或取消，鑫融汇可以从服务器上永久地删除您的数据。您的服务停止，终止或取消后，鑫融汇没有义务向您返还任何数据。</p>
            <p>6.16本服务可能会向您提供一些与地理位置，兴趣爱好等信息相关的基本非好友用户之间的交友，拓展好友的功能，您使用这些功能即表示您同意本服务获取，使用您的地理位置，兴趣爱好等信息。同事，您理解并同意：在前述相关功能中，相关信息的发布由用户自行发布，并自行确保其合法，健康，真实以及自行承担法律责任；您应自行通过各种手段认真核实相关用户及其发布信息的合法性，真实性，若您与其他用户涉及线下见面，约会或交友等各种实体活动的，在进行线下活动时，要注意保护好自己的人身，财产安全；同时鑫融汇在前述相关功能中，仅提供技术支持和平台服务，基于互联网虚拟的真实性，合法性的特性，鑫融汇无法核实相关用户及发布信息的真实性，合法性，也无法向您提供任何保证，若由于前述相关功能，导致您在线上，线下有任何人身，财产损失的，您同意自行承担全部责任，与鑫融汇无关也不会追究鑫融汇的任何责任。</p>
            <p>6.2【六不准】</p>
            <p>您在使用本服务时不得利用本服务从事以下行为，包括但不限于：</p>
            <p>(1)发布，传送，传播，存储违反国家法律，危害国家安全统一，社会稳定，公序良俗，社会公德以及侮辱，诽谤，淫秽，暴力的内容；</p>
            <p>（2）发布，传送，传播，储存侵害他人名誉权，肖像权，知识产权，商业秘密等合法权利的内容；</p>
            <p>（3）虚构事实，隐瞒真相以误导，欺骗他人；</p>
            <p>（4）发布，传送，传播广告信息及垃圾信息；</p>
            <p>(5)发布，上传欺诈信息，包括但不限于非正常的微信好友二维码</p>
            <p>(6)从事其他违反法律法规，政策及公序良俗，社会公德等的行为。</p>
            <p>6.3【用户禁止行为】</p>
            <p>除非法律允许鑫融汇书面许可，您不得从事下列行为：</p>
            <p>(1)删除平台及其副本上关于著作权的信息；</p>
            <p>(2)对本服务系统进行反向工程，反向汇编，反向编译，或者以其他方式尝试发现本平台的源代码；</p>
            <p>(3)对鑫融汇拥有知识产权的内容进行使用，出租，出借，复制，修改，链接，转载，汇编，发表，出版，建立镜像站点等；</p>
            <p>(4)通过修改或伪造平台运行中的指令，数据，增加，删除，变动平台的功能或运作效果，或者将用于上述用途的软件，方法进行运营或向公众传播，无论这些行为是否为商业目的；</p>
            <p>(5)通过非鑫融汇开发，授权的第三方软件，插件，外挂，系统，登录或使用鑫融汇平台及服务，或制作，发布，传播上述工具；</p>
            <p>(6)自行，授权他人或利用第三方软件对本平台及其组件，模块，数据等进行干扰；</p>
            <p>(7)进行任何超出正常好友或用户之间沟通交流等目的的行为；</p>
            <p>(8)出于超出正常好友或用户之间沟通，交流等目的（包括但不限于为发送广告，垃圾，骚扰或违法违规等信息的目的）；</p>
            <p>注：您理解并同意：若您违法前述约定，本协议或相关法规政策，鑫融汇有权不经您同意而直接解除您的好友关系；若您的单向或双向好友（简称“违规用户”）违反前述约定，本协议或相关法规政策，鑫融汇有权按照本协议，相关协议或相关法规政策等，对违规用户进行处理，由此可能影响您与违规用户之间的信息交流，好友关系等以及您对本服务的使用，同时您知悉：这是鑫融汇为了维护健康良好的网络环境而采取的必要措施，若由于鑫融汇按照前述约定对违规用户采取措施而对您产生影响或任何损失的，您同意不追究鑫融汇的任何责任或不向鑫融汇主张任何权利。</p>
            <p>(9) 通过本服务向好友或其他用户发送大量信息；</p>
            <p>(10)其他未经鑫融汇明示授权，许可或违反协议及相关协议，规则的行为。</p>
            <p>6.4【对自己行为负责】</p>
            <p>您充分了解并同意，您必须为自己再平台的一切行为负责，包括您所发表的任何内容以及由此产生的任何后果。您应对使用本服务时接触到的内容自行加以判断，并承担因使用内容而引起的所有风险，包括因对内容的正确性，完整性或实用性的依赖而产生的风险。鑫融汇无法且不会对您因前述风险而导致的任何损失或损害承担责任。</p>
            <p>6.5【违约处理】</p>
            <p>如果鑫融汇发现或收到他人举报您有违反本协议约定的，鑫融汇有权不经通知随时对相关内容进行删除，屏蔽，并采取包括但不限于暂停，终止您使用相应服务，暂停，终止您使用部分或全部本服务，追究法律责任等措施。</p>
            <p>6.6【对第三方损害的处理】</p>
            <p>您违反约定，导致任何第三方损害的，您应当独立承担责任；鑫融汇因此遭受损失的，您也应当一并赔偿。</p>
            <h6>七，【第三方提供的产品或服务】</h6>
            <p>您在平台上使用第三方提供的产品或服务时，除遵守本协议约定外，还应遵守第三方的用户协议。鑫融汇和第三方对可能出现的纠纷在法律规定和约定的范围内各自承担责任。</p>
            <p>因用户使用本平台或要求鑫融汇提供特定服务时，本平台可能会调用第三方系统或者通过第三方支持用户的使用或访问，使用或访问的结果由该第三方提供（包括但不限于您通过本服务跳转到的第三方提供的服务及内容等），鑫融汇无法保证第三方提供服务及内容的安全性，准确性，有效性及其他不确定的风险，您应自行承担相关责任。</p>
            <h6>八，【知识产权声明】</h6>
            <p>8.1 鑫融汇是本平台的知识产权权利人。本平台的著作权，商标权，专利权，商业秘密等知识产权，以及与本平台相关的所有信息内容 （包括但不限于文字，图片，音频，视频，图表，界面设计，板面框架，有关数据或电子文档等）均受中华人民共和国法律法规和相应的国际条约保护，鑫融汇依法享有上述相关知识产权，但相关权利依照法律规定享有的权利除外。</p>
            <p>8.2未经鑫融汇或相关权利人书面同意，您不得为任何商业或非商业目的自行或许可任何第三方实施，利用，转让上述知识产权。</p>
            <h6>九，【终端安全责任】</h6>
            <p>9.1您理解并同意，本平台或本服务同大多数互联网软件，服务一样，可能会受多种因素影响（包括但不限于用户原因，网络服务质量，社会环境等）；也可能会受各种安全问题的侵扰（包括但不限于他人非法利用用户资料，进行现实中的骚扰等）。因此，您应加强信息安全及个人信息的保护意识，注意密码保护，以免遭受损失。</p>
            <p>9.2您不得制作，发布，使用，传播用于窃取他人个人信息，财产的恶意程序。</p>
            <p>9.3维护平台安全与正常使用是鑫融汇和您的共同责任，鑫融汇将按照行业标准合理审慎地采取必要技术措施保护您的终端信息和数据安全，但是您承认和同意鑫融汇不能就此提供任何保证。</p>
            <p>9.4在任何情况下，您不应轻信借款，索要密码，验证码或其他涉及财产的网络信息。涉及财产操作的，请一定先核实对方身份，并请经常留意鑫融汇有关防范诈骗犯罪的提示。</p>
            <h6>十，【第三方软件或技术】</h6>
            <p>10.1本平台可能会使用第三方软件或技术，这种使用已经获得合法授权。</p>
            <p>10.2本平台如果使用了第三方的软件或技术。鑫融汇将按照相关法规或约定，对相关的协议或其他文件，可能通过本协议附件，在本平台安装包特定文件夹中打包等形式进行展示，他们可能会以“软件使用许可协议，“授权协议”，“开源代码许可证”或其他形式来表达。前世通过各种形式展现的相关协议或其他文件，均是本协议不可分割的组成部分，与本协议具有同等的 法律效力，您应当遵守这些要求。如果您没有遵守这些要求，该第三方或者国家机关可能会对您提起诉讼，罚款或采取其他制裁措施，并要求鑫融汇给予协助，您应当自行承担法律责任。”</p>
            <h6>十一，【其他】</h6>
            <p>11.1您使用本平台或本服务即视为您已阅读并同意本协议的约束。鑫融汇有权在有必要时修改本协议条款。您可以在本平台，本服务的最新版本中查阅相关协议条款。本协议条款变更后，如果您继续使用本平台，本服务，即视为您已接受修改后的协议。如果您不接受修改后的协议，应当停止停用使用本平台。</p>
            <p>11.2本协议签订地为中华人民共和国浙江省诸暨市</p>
            <p>11.3本协议的成立，生效，履行，解释及纠纷解决，适用中华人民共和国大陆地区法律（不包括冲突法）</p>
            <p>11.4若您和鑫融汇之前发生任何纠纷或争议，首先应友好协商解决；协商不成的，您同意将纠纷或争议提交本协议签订地有管辖权的人脉法院管辖。</p>
            <p>11.5本协议所有条款的标题仅为阅读方便，本身并无实际涵义，不能作为本协议涵义解释的依据。</p>
            <p>11.6本协议条款无论因何种原因部分无效或不可执行，其余条款仍有效，对双方具有约束力。</p>
            <p>11.7若本协议中文，英文等多个语言版本，相应内容不一致的，均以中文版的内容为准。</p>
            <p>11.8若产生异议，最终解释权归鑫融汇所有。（完）</p>
        </div>

    </div>




</body>
</html>
