
@{
    Layout = null;
}
<!DOCTYPE html>
<!-- saved from url=(0055)http://www.uxiangquan.cn/index/index/product/day/2.html -->
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>小额匹配</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no, viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" href="~/Content/Files/最新口子_files/mui.min.css">
    <link rel="stylesheet" href="~/Content/Files/最新口子_files/iconfont.css">
    <link rel="stylesheet" href="~/Content/Files/最新口子_files/style.css">
    <link rel="stylesheet" href="~/Content/Files/U享圈_files/swiper.3.1.2.min.css">
    <link href="~/Content/Css/style.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Content/Files/最新口子_files/jquery-2.2.3.min.js"></script>
    <script type="text/javascript" src="~/Content/Files/最新口子_files/mui.min.js"></script>
    <script type="text/javascript" src="~/Content/Files/最新口子_files/jquery.func.js"></script>
    <script src="~/Content/Files/最新口子_files/clipboard.min.js"></script>
    <script src="~/Scripts/Common/common.js"></script>
    <script src="~/Content/Files/U享圈_files/swiper.3.1.2.jquery.min.js"></script>
    <style>
        .notices .bg .cont {
            height: 30px;
            line-height: 30px;
            font-size: 14px;
            color: #f24a00;
        }

        .mui-table-view-cell:after {
            right: 15px !important;
        }

        .card-bank li {
            width: 33.333333%;
            float: left;
        }

        .card-bank .txt {
            width: 100% !important;
            text-align: center;
        }

        .productlist:nth-child(odd) {
            border-right: 1px solid #ddd;
        }

        .productlist .title {
            height: 20px;
            overflow: hidden;
        }

        .productlist .des {
            height: 17px;
            overflow: hidden;
            margin-top: 9px;
        }

        .mui-table-view-cell:after {
            display: none
        }

        .uxin-1 .img {
            width: 50px;
            height: 50px;
            margin-right: 10px;
        }

        .mui-ios .mui-table-view-cell {
            border-bottom: 1px solid #ddd;
        }
    </style>
    <style type="text/css">
        button {
            line-height: 1 !important;
        }

        .borderbutton {
            border-bottom: 1px solid #666;
        }

        .closebox {
            position: absolute;
            left: 50%;
            bottom: 0;
            margin-left: -20px;
            width: 40px;
            height: 40px;
            line-height: 40px;
            font-size: 18px;
            border: 1px solid #eee;
            text-align: center;
            color: #fff;
            border-radius: 50%;
            background: rgba(0, 0, 0, 0.3);
        }

        .index .news img {
            width: 80px;
            height: 20px;
        }

        .lists1 {
            border-bottom: 1px solid #eee;
            margin-top: 16px;
            padding-bottom: 5px;
        }

            .lists1 p {
                color: #333;
                padding-left: 20px;
                font-size: 16px;
            }

                .lists1 p span {
                    float: right;
                    padding-right: 15px;
                    font-size: 15px;
                }

        .banner {
            width: 100%;
            height: 122px;
            position: relative;
            background-image: url(/Content/Static/topmessagebg.png);
            background-repeat: no-repeat;
            background-size: 100% auto;
        }

        .topmessage {
            position: absolute;
            top: 3%;
            line-height: 7px;
            color: #333;
            width: 57%;
            margin: 0 11%;
        }

            .topmessage h4 {
                padding-bottom: 10px;
                text-align: center;
                padding-left: 35px;
                color: #f00;
                font-size: 19px;
            }

            .topmessage p {
                padding-left: 5px;
                line-height: 16px;
                color: #333;
            }

        .moresshow {
            width: 80%;
            margin: 10% 10% 0 10%;
            background: #fff;
            line-height: 16px;
            color: #333;
            border-radius: 14px;
        }

            .moresshow p {
                margin-top: 15px;
                padding: 0 10px 0 10px;
                line-height: 18px;
                color: #333;
            }

        .bgMessage {
            background: rgba(0, 0, 0, 0.5);
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 20;
            display: -webkit-box;
            -webkit-box-pack: center;
            -webkit-box-align: center;
        }

        .closeMessage {
            float: right;
            padding-right: 30px;
            margin-bottom: 10px
        }

        #moreMessage {
            color: #fff;
            text-align: center;
            padding-top: 4px;
            position: absolute;
            bottom: -9px;
            left: 55px
        }
    </style>
</head>

<body class="mui-ios mui-ios-11 mui-ios-11-0">
    <footer class="mui-bar mui-bar-footer nav-bottom">
        <ul class="clearListStyle mui-clearfix">
            <li class="active"><a href="/Loan/Index"><span class="iconfont icon-shouye"></span>首页</a></li>
            <li><a href="/Forum/Index"><span class="iconfont icon-icon_replieslist"></span>交流专区</a></li>
            <li><a href="/News/Index"><span class="iconfont icon-weibiaoti35"></span>财经</a></li>
            <li><a href="/Me/Index"><span class="iconfont icon-wode"></span>我的</a></li>
        </ul>
    </footer>
    <div class="mui-content">
        <div class="mui-table-view" style="margin-top: 0px">
            <div class="mui-table-view-cell pub-tit productTypeName " style="text-align:center;padding-left:0px;">小额匹配</div>
            <!--图片轮播-->
            <div>
                <a href="#"><img src="~/Content/Images/banner/xiaoebanner.jpg" style="width:100%;"></a>
            </div>
            <!--滚动新闻-->
            <div class="index">
                <ul class="news">
                    <a href="#">
                        <div class="newsWrapper" style="top: -250px;">
                            <li>
                                <div class="news_icon">
                                    <img src="~/Content/Files/U享圈_files/indexmessage.png" alt="">
                                </div>
                                <div class="text">恭喜张先生 135****0795拍拍贷下款20000</div>
                                <div class="back"><img src="~/Content/Files/U享圈_files/back.png"></div>
                            </li>
                            <li>
                                <div class="news_icon">
                                    <img src="~/Content/Files/U享圈_files/indexmessage.png" alt="">
                                </div>
                                <div class="text">恭喜李先生 136****5432飞贷下款85000</div>
                                <div class="back"><img src="~/Content/Files/U享圈_files/back.png"></div>
                            </li>
                            <li>
                                <div class="news_icon">
                                    <img src="~/Content/Files/U享圈_files/indexmessage.png" alt="">
                                </div>
                                <div class="text">恭喜刘女士 136****宜人贷下款40000</div>
                                <div class="back"><img src="~/Content/Files/U享圈_files/back.png"></div>
                            </li>
                            <li>
                                <div class="news_icon">
                                    <img src="~/Content/Files/U享圈_files/indexmessage.png" alt="">
                                </div>
                                <div class="text">恭喜赵先生 151****7788推广团队达到50人升级为总监</div>
                                <div class="back"><img src="~/Content/Files/U享圈_files/back.png"></div>
                            </li>
                            <li>
                                <div class="news_icon">
                                    <img src="~/Content/Files/U享圈_files/indexmessage.png" alt="">
                                </div>
                                <div class="text">恭喜孙女士 189****6932团队推广佣金200000，分红佣金10000</div>
                                <div class="back"><img src="~/Content/Files/U享圈_files/back.png"></div>
                            </li>
                            <li>
                                <div class="news_icon">
                                    <img src="~/Content/Files/U享圈_files/indexmessage.png" alt="">
                                </div>
                                <div class="text">恭喜宁先生 157****3522推广光大信用卡一张，获取佣金100</div>
                                <div class="back"><img src="~/Content/Files/U享圈_files/back.png"></div>
                            </li>

                        </div>
                    </a>
                </ul>
            </div>

            <!--搜索-->
            <form class="display-box indexsearch" action="#" method="post">
                <div class="box-flex-1">
                    <input name="keyword" type="text" style="border:1px solid #aaa6a6;border-radius: 19px;width:97%" placeholder="搜索关键字">
                </div>
                <div>
                    <a href="/Product/Search?keyword=关键字">搜 索</a>
                </div>
            </form>
            <div class="lists1">
                <p>今日实战下款|会员曝光<span><a href="/Product/ProductList?typeId=35">更多</a> </span></p>

            </div>
            <!--加载实时更新存活产品|会员曝光类别下的产品-->
            <div class="card-bank">
                @*<div class="mui-table-view-cell " style="text-align:left;">今日实战下款（会员曝光）</div>*@
                <ul class="clearListStyle mui-clearfix  data34"></ul>
            </div>


            <div class="lists1">
                <p>
                    实时更新存活产品|会员曝光
                    <span>
                        <a href="/Product/ProductList?typeId=34">更多</a>
                    </span>
                </p>

            </div>

            <!--加载实时更新存活产品|会员曝光类别下的产品-->
            <div class="card-bank">
                @*<div class="mui-table-view-cell " style="text-align:left;">今日实战下款（会员曝光）</div>*@
                <ul class="clearListStyle mui-clearfix  data35">
                    <li>
                        <a onclick="getqrcode(&#39;2962&#39;)">
                            <img src="~/Content/Files/最新口子_files/5d2d32d6f1502.png">
                            <span class="txt" style="width: 100px;">小火龙</span>
                        </a>
                    </li>
                </ul>

            </div>

            <div class="lists1">
                <p>
                    系列大全

                </p>

            </div>

            <!--加载系列大全类别下的产品-->
            <div class="card-bank">
                <ul class="clearListStyle mui-clearfix  data36"></ul>

            </div>
        </div>
    </div>


    <!--详情-->
    <div class="apply-shadow 0" style="display:none">
        <div class="shadow-box">
            <div class="mui-table-view detail">
                <li class="mui-table-view-cell borderbutton" style="font-weight:bold;color:#1e5bca">
                    <span class="TypeAndName"> 精选单品-华山论借</span>
                    <button class="mui-btn feedback3100" style="padding:0 5px;font-weight:bold;color:red;font-size: 13px;">
                        <a href="/Product/Kefu">
                            失效反馈
                        </a>
                    </button>
                </li>
                <li class="mui-table-view-cell borderbutton">
                    <span class="Describe">1、20-40岁<br>2、有稳定工作收入<br>3、机审无回访<br></span>
                    <font style="color:red;"></font>
                </li>
                <li class="mui-table-view-cell" style="line-height: 30px">
                    <div class="mui-pull-left">
                        <img style="width: 30px;" class="Icon" src="">
                        <span class="Name">华山论借</span>
                    </div>
                </li>
                <li class="mui-table-view-cell">
                    <div class="mui-pull-left mui-col-xs-6">
                        @*<img style="width:100%;height:100%;position:absolute;opacity:0;" src="http://www.uxiangquan.cn/static/qrcode/gather/qrcode/krqw.jpg">*@
                        <div style="min-height:100px;">
                            <img class="QrCode" style="width: 100%;margin-top:-10px;margin-left:-5px;" src="">
                        </div>
                        <div style="text-align:center;">
                            扫码立即申请
                        </div>
                    </div><div class="mui-pull-left mui-col-xs-6" style="padding-left: 10%;margin-top:-4px;">
                        <button type="button" data-url="" class="mui-btn mui-btn-primary mui-btn-outlined   Url  CopyUrl" style="box-shadow: 3px 2px 6px #3975e2;" id="copy" onclick="copy(&#39;http://ortg.xyz/krqw&#39;)">
                            复制链接
                        </button>
                        <a href="" data-url="" class="mui-btn mui-btn-danger mui-btn-outlined mt10 Url  JumpUrl " style="box-shadow: 3px 2px 6px #dd524d;">
                            立即申请
                        </a>

                        <a href="" data-url="" class="mui-btn mui-btn-danger mui-btn-outlined mt10 saveImg   " style="box-shadow: 3px 2px 6px #dd524d;">
                            保存图片
                        </a>
                    </div>
                </li>
            </div>
            <div class="closebox"><i class="iconfont icon-guanbi"></i></div>
        </div>
    </div>

    <script type="text/javascript">

        var copybtn = null;
        var clipboard = null;

        $("#moreMessage").on("click", function () {
            $(".bgMessage").show();
        })
        $(".closeMessage").on("click", function () {
            $(".bgMessage").hide();
        })
        var banner_swiper = new Swiper('.banner .swiper-container', {
            pagination: '.banner .swiper-pagination',
            autoplay: 3000
        });

        (() => {
            var n = 1
            setInterval(() => {
                let topHeight = '-' + n * 50 + 'px'
                $(".newsWrapper").animate({ top: topHeight }, 200)
                n === $('.newsWrapper').children('li').length - 1 ? n = 0 : n++
            }, 3000)
        })()
        var copybtn = null;
        var clipboard = null;

        init();
        function init() {
            //设置title
            $.ajax({
                url: "/api/ProductType",
                data: { no: 7 },
                type: 'Get',
                success: function (data) {
                    if (data) {
                        $(".productTypeName").html(data.Name);
                    }
                },
                error: function (e) {
                    console.error("服务器异常" + e);
                }
            });


            //获取34类别下面的产品
            $.ajax({
                url: "/api/Product",
                data: { typeId: 34 },
                type: 'Get',
                success: function (data) {
                    var html = "";
                    if (data) {
                        for (var i = 0; i < data.length; i++) {
                            html += "<li>";
                            // --误删--
                            html += "<a onclick='GetDetail(" + data[i].No + ")'>";
                            //html += "<a href='" + data[i].Url + "'>";
                            html += "<img src='" + data[i].Icon + "'><span class='txt' style='width: 100px;'>" + data[i].Name + "</span>";
                            html += "</a>";
                            html += "</li>";
                        }
                    } else {
                        html += "<li>";
                        html += "无数据";
                        html += "</li>";
                    }
                    $(".data34").html(html);
                },
                error: function (e) {
                    console.error("服务器异常" + e);
                }
            });

            //获取35类别下面的产品
            $.ajax({
                url: "/api/Product",
                data: { typeId: 35 },
                type: 'Get',
                success: function (data) {
                    var html = "";
                    if (data) {
                        for (var i = 0; i < data.length; i++) {
                            html += "<li>";
                            // --误删--
                            //html += "<a onclick='GetDetail(" + data[i].No + ")'>";
                            html += "<a href='" + data[i].Url + "'>";
                            html += "<img src='" + data[i].Icon + "'><span class='txt' style='width: 100px;'>" + data[i].Name + "</span>";
                            html += "</a>";
                            html += "</li>";
                        }
                    } else {
                        html += "<li>";
                        html += "无数据";
                        html += "</li>";
                    }
                    $(".data35").html(html);
                },
                error: function (e) {
                    console.error("服务器异常" + e);
                }
            });

            //获取36类别下面的子类别
            $.ajax({
                url: "/api/TypeViewGrade",
                data: { id: 36 },
                type: 'Get',
                success: function (data) {
                    var html = "";
                    if (data) {                        
                        for (var i = 0; i < data.length; i++) {
                            html += "<li>";
                            html += "<a href='/Product/ProductList?typeId=" + data[i].No + "'>";
                            html += "<img src='" + data[i].Icon + "'><span class='txt' style='width: 100px;'>" + data[i].Name + "</span>";
                            html += "</a>";
                            html += "</li>";
                        }
                    } else {
                        html += "<li>";
                        html += "无数据";
                        html += "</li>";
                    }
                    $(".data36").html(html);
                },
                error: function (e) {
                    console.error("服务器异常" + e);
                }
            });


            //获取该类别的子类别数据
            //$.ajax({
            //    url: "/api/TypeViewGrade",
            //    data: { id: 7 },
            //    type: 'Get',
            //    success: function (data) {
            //        var html = "";
            //        if (data) {
            //            for (var i = 0; i < data.length; i++) {
            //                html += "<li>";
            //                html += "<a href='/Product/ProductList?typeId=" + data[i].No + "'>";
            //                html += "<img src='" + data[i].Icon + "'><span class='txt' style='width: 100px;'>" + data[i].Name + "</span>";
            //                html += "</a>";
            //                html += "</li>";
            //            }
            //        } else {
            //            html += "<li>";
            //            html += "无数据";
            //            html += "</li>";
            //        }
            //        $(".data").html(html);
            //    },
            //    error: function (e) {
            //        console.error("服务器异常" + e);
            //    }
            //});
        }


        $(".shadow-box").on('click', '.closebox', function () {
            $('.apply-shadow').hide();

        })




        //获取产品详情
        function GetDetail(no) {
            $.ajax({
                url: "/api/ProductDetail",
                data: { no: no },
                type: 'Get',
                success: function (data) {
                    var type = $(".productTypeName").html();
                    $(".detail .TypeAndName").html(type + data.Name);
                    $(" .detail  .Describe").html(data.Describe1 + "</br>" + data.Describe2 + "</br>" + data.Describe3 + "</br>" + data.Describe4 + "</br>" + data.Describe5 + "</br>");
                    $(".detail .Icon").attr("src", data.Icon);
                    $(".detail .Name").html(data.Name);
                    $(".detail  .QrCode").attr("src", qrCodeRootPath + data.QrCodeUrl);
                    $(".detail .Url").attr("data-url", data.Url);
                    $(".detail .JumpUrl").attr("href", data.Url);

                    $(".detail .saveImg").attr("href", "/Product/SaveImg?no=" + data.No);
                    copybtn = document.getElementById('copy');
                    debugger
                    clipboard = new ClipboardJS(copybtn, {
                        text: function () {
                            return data.Url;
                        }
                    });
                    $(".apply-shadow").show();
                },
                error: function () {
                    console.log("服务器异常");
                }
            });
        }

        //复制链接
        function copy(url) {
            clipboard.on('success', function (e) {
                mui('#browser').popover('hide');
                alertok('复制成功');
            });
            clipboard.on('error', function (e) {
                alerterr('复制失败');
            });
        }


    </script>




</body>
</html>
