@{
    Layout = null;
}
<!DOCTYPE html>
<!-- saved from url=(0055)http://www.uxiangquan.cn/index/index/product/day/2.html -->
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>申请前须知</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no, viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <style>
        h4 {
            ;
            text-align: center;
            padding: 10px 0 10px 0;
        }

        h6 {
            font-size: 16px;
        }

        .vipcont {
            padding: 0 10px 0 10px;
        }
    </style>
</head>

<body class="mui-ios mui-ios-11 mui-ios-11-0" style="padding:0;margin:0;">
    <div class="vipcont">

        <div class="" style="viplistsdetail">
            <h4>申请前须知</h4>
            <p> 1，通讯录不能留有贷款，出现借贷方的名字 某某贷款平台 </p>
            <p> 2，手机短信不能出现要债短信和平台短信</p>
            <p>3，手机接打电话不有贷款方的记录，要删除。 这个就是三清，短信，通话记录手机上的，通讯录不能有敏感方的出借姓名</p>
            <p>4,手机号和身份证必须统一</p>
            <p>5,银行卡和手机号统一</p>
            <p>6,支付宝和手机号统一</p>
            <p>7,微信号和手机号统一</p>
            <p>8,淘宝地址只保留一到两个，支付宝收货地址也一样</p>
            <p>9,支付宝授权删除</p>
            <p>10,手机联系人数量保持在 70-140 个人之间</p>
            <p>11,工作包装，工作单位选择家庭地址方圆几公里范围内的单位，男性包装 事业单位、企业公司之类的最佳，女性包装医院护士、幼儿园教师、公司 人力资源部等为最佳，单位名称可以在 58 同城去找，公司地址和座机电话 在天眼查里面去查询 </p>
            <p>12,信用卡账单处理，挑选一张使用半年以上情况较好的信用卡，在邮箱里删除有逾期的信用卡  </p>
        </div>

    </div>




</body>
</html>
