
@{
    Layout = null;
}
<!DOCTYPE html>
<!-- saved from url=(0055)http://www.uxiangquan.cn/index/Forum/dynamicview/id/199 -->
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>详情</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" type="text/css" href="~/Content/Files/详情_files/weui.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Files/详情_files/iconfont.css">
    <link rel="stylesheet" href="~/Content/Files/详情_files/style.css">
    <link href="~/Content/Css/style.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/Content/Files/详情_files/swiper.min.css">

    <script type="text/javascript" src="~/Content/Files/详情_files/jquery-2.2.3.min.js"></script>
    <script type="text/javascript" src="~/Content/Files/详情_files/weui.min.js"></script>
    <script type="text/javascript" src="~/Content/Files/详情_files/jquery.func.js"></script>
    <script type="text/javascript" src="~/Content/Files/详情_files/swiper.min.js"></script>
    <script src="~/Scripts/Common/mui.min.js"></script>
    <style type="text/css">
        .mui-bar {
            position: fixed;
            right: 0;
            left: 0;
            z-index: 10;
            height: 44px;
            padding-right: 10px;
            padding-left: 10px;
            background-color: #f7f7f7;
            border-bottom: 0;
            -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.85);
            box-shadow: 0 0 1px rgba(0, 0, 0, 0.85);
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
        }

        .mui-bar-footer {
            bottom: 0;
        }

        .clearListStyle {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        .mui-bar {
            background-color: #FFF;
            box-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 0 5px rgba(0, 0, 0, 0.1);
        }

        .nav-bottom {
            height: 50px;
            padding: 0;
            font-size: 12px;
            background: #fff;
        }

            .nav-bottom li {
                width: 20%;
                height: 100%;
                float: left;
                text-align: center;
                position: relative;
            }

            .nav-bottom a {
                height: 100%;
                display: block;
                color: #555;
            }

            .nav-bottom .mui-badge {
                margin: -5px 0 0 3px;
                position: absolute;
                left: 50%;
                top: 0;
            }

            .nav-bottom .iconfont {
                display: block;
                font-size: 20px;
                margin: 7px 0 0;
                line-height: 21px;
            }

            .nav-bottom li.active a {
                color: #3975e2;
            }

        .indexsearch {
            height: 40px;
            margin: 10px;
            background-color: #fff;
            border-radius: 5px;
        }

            .indexsearch input {
                height: 40px;
                margin: 0;
                background: none;
                border: none;
                font-size: 14px;
                color: #333;
            }

                .indexsearch input::-webkit-input-placeholder {
                    color: #999;
                }

            .indexsearch button {
                width: 80px;
                padding: 0 10px;
                height: 38px;
                background-color: #08C1B0;
                color: #fff;
                padding: 0;
                border: none;
                font-size: 18px;
            }

        .display-box {
            display: -webkit-box;
            -webkit-box-orient: horizontal;
            -webkit-box-pack: center;
            -webkit-box-align: center;
        }

        .display-box-v {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-box-pack: center;
            -webkit-box-align: center;
        }

            .display-box > *, .display-box-v > * {
                display: block;
            }

        .box-flex-1 {
            display: block;
            -webkit-box-flex: 1;
            -moz-box-flex: 1;
            -ms-box-flex: 1;
            box-flex: 1;
        }

        .label {
            font-size: 15px;
            line-height: 24px;
            background: #ff962d;
            color: #fff;
            position: absolute;
            right: 0;
            top: 0;
            z-Index: 2;
            padding: 0px 20px;
            -webkit-transform-origin: left bottom;
            -moz-transform-origin: left bottom;
            transform-origin: left bottom;
            -webkit-transform: translate(29.29%,-100%) rotate(45deg);
            -moz-transform: translate(29.29%,-100%) rotate(45deg);
            transform: translate(29.29%,-100%) rotate(45deg);
            text-indent: 0;
        }

        .addtopic {
            display: block;
            position: fixed;
            right: 5px;
            top: 48%;
            font-size: 26px;
            color: #fff;
            background: #1aad19;
            width: 50px;
            height: 50px;
            line-height: 50px;
            border-radius: 50%;
            z-index: 5;
            text-align: center;
        }

        .weui-bar-header.appheader {
            height: 48px;
            padding-top: unset;
        }

            .weui-bar-header.appheader ~ .weui-content {
                padding-top: 40px;
            }

        .img1-1 img {
            position: relative;
            max-height: 150px;
            overflow: hidden;
        }

        .img1-1:after {
            display: none;
        }
    </style>
</head>
<body ontouchstart="">
    <footer class="weui-bar weui-bar-footer weui-flex flex-center plfooter" id="content">
        <div class="weui-flex__item">
            <input type="text" class="weui-input CommentBody" id="plinput" placeholder="说点什么吧">
        </div>
        <div><button class="weui-btn weui-btn_mini weui-btn_primary" id="send" onclick="AddComment()" style="margin-left: 15px;">发送</button></div>
    </footer>
    <footer class="weui-bar weui-bar-footer weui-flex flex-center plfooter" id="content1" style="display: none;">
        <div class="weui-flex__item">
            <input type="text" class="weui-input" id="plinput1" placeholder="说点什么吧">
        </div>
        <div><button class="weui-btn weui-btn_mini weui-btn_primary" id="send1" style="margin-left: 15px;">发送</button></div>
    </footer>
    <input type="hidden" class="no" value="@Model" />
    <div class="weui-content">
        <div class="weui-cells">
            <div class="weui-cell pinglun-item">
                <div class="weui-cell__bd">
                    <div class="weui-flex flex-center">
                        <div class="touxiang">
                            <img src="~/Content/Files/详情_files/logo.png" />
                        </div>
                        <div class="weui-flex__item ">
                            <div class="name CreateUserNickName">U享圈</div>
                            <div class="time CreateTime">19.07.18 15:22</div>
                        </div>
                    </div>
                    <div class="title   Title">再续一条龙，系列大放水中，下款超猛，速度连撸！无视各种黑，无视回访电话，你懂得！</div>
                    <div class="plimgs viewimgs clearfix">
                        <div class="item" data-img="http://cdn.uxiangquan.cn/static/uploadfile/file/2019-07-18/5d301e1602165.jpg?x-oss-process=image/watermark,image_c3RhdGljL2luZGV4L2ltYWdlcy9tYXJrLnBuZw==,t_20,g_center">
                            <div class="img1-1"><img src="~/Content/Files/详情_files/5d301e1602165.jpg"></div>
                        </div>
                        <div class="item" data-img="http://cdn.uxiangquan.cn/static/uploadfile/file/2019-07-17/5d2e974c5a13d.jpg?x-oss-process=image/watermark,image_c3RhdGljL2luZGV4L2ltYWdlcy9tYXJrLnBuZw==,t_20,g_center">
                            <div class="img1-1"><img src="~/Content/Files/详情_files/5d2e974c5a13d.jpg"></div>
                        </div>
                    </div>
                    <div class="cont ContentBody"><p style="margin-top:5px;margin-right:0;margin-bottom:5px;margin-left:0;text-indent:0;text-align:center"><span style="letter-spacing: 0px; font-size: 14px; font-family: 宋体;">再续一条龙，系列大放水中，下款超猛，速度连撸！无视各种黑，无视回访电话，你懂得！</span></p><p style="margin-top:5px;margin-right:0;margin-bottom:5px;margin-left:0;text-indent:0"><span style="font-family: 宋体;letter-spacing: 0;font-size: 14px">&nbsp;</span></p><p style="margin-top:5px;margin-right:0;margin-bottom:5px;margin-left:0;text-indent:0;text-align:center"><span style="letter-spacing: 0px; font-size: 19px; background: rgb(0, 255, 255); font-family: 宋体;">下款图示</span></p><p style="margin-top:5px;margin-right:0;margin-bottom:5px;margin-left:0;text-indent:0;text-align:center"><span style="font-family: 宋体;letter-spacing: 0;font-size: 16px">☆☆☆☆</span></p><p style="text-align:center"><img src="~/Content/Files/详情_files/1563434267623522.jpg" title="1563434267623522.jpg" alt="1558595793679752_801(1).jpg" width="345" height="546" style="width: 345px; height: 546px;"></p><p><br></p><p><br></p><p><br></p><p style="text-align:center"><img src="~/Content/Files/详情_files/1563434349440247.jpg" title="1563434349440247.jpg" alt="1563334417699451.jpg" width="347" height="567" style="width: 347px; height: 567px;"></p><p><br></p><p><br></p><p><br></p><p><br></p><p style="margin-top:5px;margin-right:0;margin-bottom:5px;margin-left:0;text-indent:0"><span style="font-family: 宋体;color: rgb(255, 0, 0);letter-spacing: 0;font-size: 14px">&nbsp;</span></p><p style="margin-top:5px;margin-right:0;margin-bottom:5px;margin-left:0;text-indent:0"><span style="color: rgb(255, 0, 0); letter-spacing: 0px; font-size: 14px; font-family: 宋体;">连撸口子及入口：</span></p><p style="margin: 5px 0;text-indent: 28px"><span style="font-family: 宋体;letter-spacing: 0;font-size: 16px">壹卡通<span style="font-family: 宋体; letter-spacing: 0px; font-size: 16px; color: rgb(0, 176, 240);">：</span></span><a href="http://ortg.xyz/jyid" target="_self" style="font-family: 宋体; letter-spacing: 0px; font-size: 16px; text-decoration: underline; color: rgb(0, 176, 240);"><span style="font-family: 宋体; letter-spacing: 0px; font-size: 16px; text-decoration: underline; color: rgb(0, 176, 240);">http://ortg.xyz/jyid</span></a></p><p style="margin: 5px 0;text-indent: 28px"><span style="font-family: 宋体;letter-spacing: 0;font-size: 16px">灭霸钱包<span style="font-family: 宋体; letter-spacing: 0px; font-size: 16px; color: rgb(0, 176, 240);">：</span></span><a href="http://ortg.xyz/tqrf" target="_self" style="font-family: 宋体; letter-spacing: 0px; font-size: 16px; text-decoration: underline; color: rgb(0, 176, 240);"><span style="font-family: 宋体; letter-spacing: 0px; font-size: 16px; text-decoration: underline; color: rgb(0, 176, 240);">http://ortg.xyz/tqrf</span></a></p><p style="margin: 5px 0;text-indent: 28px"><span style="font-family: 宋体; letter-spacing: 0px; font-size: 16px; color: rgb(0, 0, 0);">发财钱包</span><span style="font-family: 宋体; letter-spacing: 0px; font-size: 16px; color: rgb(0, 176, 240);">：</span><a href="http://ortg.xyz/maqz" target="_self" style="color: rgb(0, 176, 240); text-decoration: underline;"><span style="color: rgb(0, 176, 240);">http://ortg.xyz/maqz</span></a></p><p style="margin-top:5px;margin-right:0;margin-bottom:5px;margin-left:0;text-indent:0"><span style="font-family: 宋体; letter-spacing: 0px; font-size: 16px; color: rgb(0, 176, 240);">&nbsp;</span></p><p style="margin-top:5px;margin-right:0;margin-bottom:5px;margin-left:0;text-indent:0"><span style="font-family: 宋体;letter-spacing: 0;font-size: 16px">&nbsp;</span></p><p style="margin-top:5px;margin-right:0;margin-bottom:5px;margin-left:0;text-indent:0;text-align:center"><strong><span style="text-decoration: underline; font-family: 宋体; color: rgb(21, 233, 61); letter-spacing: 0px; font-size: 16px;">&nbsp;</span></strong><strong><span style="text-decoration: underline; font-family: 宋体; color: rgb(21, 233, 61); letter-spacing: 0px; font-size: 16px;"><span style="font-family:宋体">口子介绍</span>&nbsp;</span></strong></p><p style="margin: 5px 0;text-indent: 0;line-height: 150%"><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 14px">&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-family:宋体">这几个口子都是属于一条龙系列的口子，一条龙系列下款一直不错而且很稳定，昨天有老哥反馈连下了七个，今天早上有老哥说今天早上这个系列下了五个了还在继续撸，所以就给大家再次更新下，这个系列的链接也是废得比较快的，需要的就赶紧上，晚了必废！口子不查不上征信，提交资料后是不打回访电话的，首次借款金额一般是</span>1500-2500左右，周期</span><span style="font-family: Calibri;line-height: 150%;letter-spacing: 0;font-size: 14px">6</span><span style="line-height: 150%; letter-spacing: 0px; font-size: 14px; font-family: 宋体;">天！</span></p><p style="margin-top:5px;margin-right:0;margin-bottom:5px;margin-left:0;text-indent:0"><span style="font-family: 宋体;letter-spacing: 0;font-size: 14px">&nbsp;</span></p><p style="margin-top:5px;margin-right:0;margin-bottom:5px;margin-left:0;text-indent:0;text-align:center"><strong><span style="text-decoration: underline; font-family: 宋体; color: rgb(255, 0, 0); letter-spacing: 0px; font-size: 16px;">&nbsp;</span></strong><strong><span style="text-decoration: underline; font-family: 宋体; color: rgb(255, 0, 0); letter-spacing: 0px; font-size: 16px;">申请攻略</span><span style="text-decoration: underline; font-family: 宋体; letter-spacing: 0px; font-size: 16px;"><font color="#0766d4">&nbsp;</font></span></strong></p><p style="margin-top:5px;margin-right:0;margin-bottom:5px;margin-left:0;text-indent:0;text-align:center"><br></p><p style="margin-top:5px;margin-right:0;margin-bottom:5px;margin-left:0;text-indent:0;text-autospace:ideograph-numeric;line-height:150%"><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 14px"><span style="font-family:宋体">申请条件：</span>20~45周岁，非学生用户</span></p><p style="margin-top:5px;margin-right:0;margin-bottom:5px;margin-left:0;text-indent:0;text-autospace:ideograph-numeric;line-height:150%"><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 14px"><span style="font-family:宋体">申请资料：实名认证，银行卡绑定，运营商认证，个人基本信息，芝麻分</span>580以上，支付宝无负面</span></p><p style="margin-top:5px;margin-right:0;margin-bottom:5px;margin-left:0;text-indent:0;text-autospace:ideograph-numeric;line-height:150%"><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 14px">&nbsp;</span></p><p style="margin-top:5px;margin-right:0;margin-bottom:5px;margin-left:0;text-indent:0;text-align:center"><strong><span style="text-decoration: underline; font-family: 宋体; letter-spacing: 0px; font-size: 16px;">&nbsp;注意事</span></strong><strong><span style="text-decoration: underline; font-family: 宋体; letter-spacing: 0px; font-size: 16px;">项</span></strong><strong><span style="text-decoration: underline; font-family: 宋体; letter-spacing: 0px; font-size: 16px;">&nbsp;</span></strong></p><p style="margin-top:5px;margin-right:0;margin-bottom:5px;margin-left:0;text-indent:0;text-align:center"><span style="letter-spacing: 0;font-size: 16px">&nbsp;</span></p><p style="margin-top:5px;margin-right:0;margin-bottom:5px;margin-left:0;text-indent:0;text-autospace:ideograph-numeric;line-height:150%"><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 14px">1、不查不上征信，该系列口子近期下款率还不错，不少老哥都是连撸下款！</span></p><p style="margin-top:5px;margin-right:0;margin-bottom:5px;margin-left:0;text-indent:0;text-autospace:ideograph-numeric;line-height:150%"><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 14px">2、该系列无视芝麻分，并且是全程机审不打回访的，要做的就赶紧上，该系入口废得也还是比较快的</span></p><p style="margin-top:5px;margin-right:0;margin-bottom:5px;margin-left:0;text-indent:0;text-autospace:ideograph-numeric;line-height:150%"><span style="font-family: 宋体;line-height: 150%;letter-spacing: 0;font-size: 14px">&nbsp;</span></p><p><span style=";font-family:Calibri;font-size:14px">&nbsp;</span></p><p><br></p></div>
                    <hr>
                    <div class="weui-flex gnbox text-center">
                        <div class="weui-flex__item"><a href="javascript:;"><i class="iconfont icon-icon_yulan"></i> <span class="ViewCount"> 82157</span></a></div>
                        <div class="weui-flex__item"><a href="javascript:;" onclick="pinglun()"><i class="iconfont icon-icon_message"></i> <font class="comment CommentCount">0</font></a></div>
                        <div class="weui-flex__item">
                            <a href="javascript:;" class="fabulous" data-id="199"><i class="iconfont icon-icon_likegood"></i> <font class="LikeCount">2807</font></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="weui-cells">
            <div class="weui-cell">
                @*<div class="weui-cell__bd">全部<font class="comment">0</font>条评论</div>*@
            </div>
            <div id="list">

            </div>
        </div>
        <div class="dropload-down"><div class="weui-loadmore"><span class="weui-loadmore__tips">↑上拉加载更多</span></div></div>
    </div>

    <div class="preview-image">
        <a href="javascript:;" class="closebtn"><i class="iconfont icon-guanbi"></i></a>
        <div class="swiper-container" id="imgswiper">
            <div class="swiper-wrapper">

            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>

    <script href="~/Content/Files/详情_files/dropload.js"></script>
    <script>

        //添加评论
        function AddComment() {
            var CommentBody = $(".CommentBody").val();
            if (!CommentBody || CommentBody == "") {
                alert("评论内容不可为空");
                return false;
            }
            var ForumNo = $(".no").val();
            $.ajax({
                url: "/Api/Comment",
                type: 'Post',
                data: { ContentBody: CommentBody, ForumNo: ForumNo },
                success: function (data) {
                    console.log("评论添加成功");
                },
                error: function () {
                    console.error("服务器异常");
                }
            });
        }


        $(function () {
            var no = $(".no").val();
            init();
            function init() {

                //获取详情数据
                $.ajax({
                    url: "/Api/Forum",
                    type: 'Get',
                    data: { no: no },
                    success: function (data) {
                        var html = "";
                        if (data) {
                            $(".CreateUserNickName").html(data.CreateUserNickName);
                            $(".CreateTime").html(data.CreateTime);
                            $(".Title").html(data.Title);
                            $(".ContentBody").html(data.ContentBody);
                            $(".ViewCount").html(data.ViewCount);
                            $(".CommentCount").html(data.CommentCount);
                            $(".LikeCount").html(data.LikeCount);
                        }
                    },
                    error: function () {
                        console.error("服务器异常");
                    }
                });

                //添加浏览量
                AddView();
            }

            //添加浏览量
            function AddView() {
                $.ajax({
                    url: "/Api/ForumView",
                    type: 'Get',
                    data: { no: no },
                    success: function (data) {

                    },
                    error: function () {
                        console.error("服务器异常");
                    }
                });
            }






            //$(".preview-image .closebtn").on("click", function () {
            //    $(this).parents(".preview-image").hide()
            //});

            //$(".viewimgs .item").on("click", function () {
            //    $(".preview-image").show();
            //    var imgs = "";
            //    for (var i = 0; i < $(this).parent(".viewimgs").find(".item").length; i++) {
            //        imgs += '<div class="swiper-slide"><div class="swiper-zoom-container"><img src="' + $(this).parent(".viewimgs").find(".item")
            //            .eq(i).data().img + '"></div></div>'

            //    }
            //    $(".preview-image .swiper-wrapper").html(imgs);
            //    var imgswiper = new Swiper('#imgswiper', {
            //        zoom: true,
            //        pagination: {
            //            el: '#imgswiper .swiper-pagination',
            //            type: 'fraction',
            //        },
            //        initialSlide: $(this).index(),
            //    })
            //})

            //function pinglun() {
            //    document.getElementById("plinput").focus()
            //}

            //$("body").on("click", ".fabulous", function () {
            //    var id = $(this).attr('data-id');
            //    var that = $(this);
            //    $.ajax({
            //        url: "/index/forum/fabulous.html?id=" + id,
            //        dataType: 'json',
            //        success: function (res) {
            //            if (res.code == 1) {
            //                that.removeClass('fabulous');
            //                that.addClass('unfabulous');
            //                that.addClass('color-red');
            //                var fabulous = parseInt(that.children('font').text());
            //                fabulous += 1;
            //                that.children('font').text(fabulous);
            //            } else {
            //                alerterr(res.msg);
            //            }
            //        }
            //    })
            //})

            //$("body").on("click", ".unfabulous", function () {
            //    var id = $(this).attr('data-id');
            //    var that = $(this);
            //    $.ajax({
            //        url: "/index/forum/unfabulous.html?id=" + id,
            //        dataType: 'json',
            //        success: function (res) {
            //            if (res.code == 1) {
            //                that.removeClass('unfabulous');
            //                that.addClass('fabulous');
            //                that.removeClass('color-red');
            //                var fabulous = parseInt(that.children('font').text());
            //                fabulous -= 1;
            //                that.children('font').text(fabulous);
            //            } else {
            //                alerterr(res.msg);
            //            }
            //        }
            //    })
            //})

            //var id = '199';
            //$("body").on("click", "#send", function () {
            //    var content = $.trim($("#plinput").val());
            //    if (content == '') {
            //        alerterr('请输入评论内容');
            //        $("#plinput").focus();
            //        return false;
            //    }
            //    $(this).attr("disabled", true);
            //    var that = $(this);
            //    $.ajax({
            //        url: "/index/forum/comment.html",
            //        data: { id: id, content: content },
            //        type: 'post',
            //        dataType: 'json',
            //        success: function (res) {
            //            if (res.code == 1) {
            //                $("#plinput").val('');
            //                reload();
            //                that.attr("disabled", false);
            //            } else {
            //                alerterr(res.msg);
            //                that.attr("disabled", false);
            //            }
            //        }
            //    })
            //})

            //function reload() {
            //    $('#list').html("");
            //    page = 0;
            //    dropload.unlock();
            //    dropload.noData(false);
            //    dropload.resetload();
            //}
            //// 页数
            //var page = 0;
            //var dropload = $('.weui-content').dropload({
            //	scrollArea: window,
            //	loadDownFn: function(me) {
            //		page++;
            //		// 拼接HTML
            //		var result = '';
            //		$.ajax({
            //			type: 'post',
            //			url: "/index/forum/getcomments.html",
            //           			data:{id:id,page:page},
            //			dataType: 'json',
            //			success: function(res) {
            //             			var arrLen = res.data.length;
            //             			$(".comment").text(res.total);
            //				if(arrLen > 0) {
            //					for(var i = 0; i < arrLen; i++) {
            //						result += '<div class="weui-cell pinglun-item reply" name="'+res.data[i].nickname+'" memberid="'+res.data[i].memberid+'"><div class="touxiang"><img src="'+(res.data[i].headimgurl ? res.data[i].headimgurl : '/static/system/images/avatar.jpg')+'"></div><div class="weui-cell__bd"><div class="weui-flex flex-center"><div class="weui-flex__item name color-primary">'+res.data[i].nickname+(res.data[i].reply ? '回复'+res.data[i].replyNickname : '')+'</div><div class="time">'+res.data[i].addtime+'</div></div><div class="cont" style="margin-top: 0;">'+res.data[i].content+'</div></div></div>';
            //					}
            //					// 如果没有数据
            //				} else {
            //					// 锁定
            //					me.lock();
            //					// 无数据
            //					me.noData();
            //				}

            //				// 插入数据到页面，放到最后面
            //				$('#list').append(result);
            //				// 每次数据插入，必须重置
            //				me.resetload();
            //			},
            //			error: function(xhr, type) {
            //				alert('加载失败！');
            //				// 即使加载出错，也得重置
            //				me.resetload();
            //			}
            //		});
            //	}
            //});

            //var reply = '';
            //var replyNickname = '';
            //$("body").on("click", ".reply", function () {
            //    $("#content").hide();
            //    reply = $(this).attr('memberid');
            //    replyNickname = $(this).attr('name');
            //    $("#plinput1").attr('placeholder', '回复' + replyNickname + '：');
            //    $("#content1").show();
            //})

            //$("body").on("click", "#send1", function () {
            //    var content = $.trim($("#plinput1").val());
            //    if (content == '') {
            //        alerterr('请输入回复内容');
            //        $("#plinput").focus();
            //        return false;
            //    }
            //    $(this).attr("disabled", true);
            //    var that = $(this);
            //    $.ajax({
            //        url: "/index/forum/reply.html",
            //        data: { id: id, reply: reply, replyNickname: replyNickname, content: content },
            //        type: 'post',
            //        dataType: 'json',
            //        success: function (res) {
            //            if (res.code == 1) {
            //                $("#plinput1").val('');
            //                reload();
            //                that.attr("disabled", false);
            //                $("#content1").hide();
            //                $("#content").show();
            //            } else {
            //                alerterr(res.msg);
            //                that.attr("disabled", false);
            //            }
            //        }
            //    })
            //})
        });
    </script>


</body>
</html>