
@{
    Layout = null;
}
<!DOCTYPE html>
<!-- saved from url=(0049)http://www.uxiangquan.cn/index/forum/dynamic.html -->
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>交流专区</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" type="text/css" href="~/Content/Files/交流专区_files/weui.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Files/交流专区_files/iconfont.css">
    <link rel="stylesheet" href="~/Content/Files/交流专区_files/style.css">
    <link href="~/Content/Css/style.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Content/Files/交流专区_files/jquery-2.2.3.min.js"></script>
    <script type="text/javascript" src="~/Content/Files/交流专区_files/weui.min.js"></script>
    <script type="text/javascript" src="~/Content/Files/交流专区_files/jquery.func.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/Files/交流专区_files/swiper.min.css">
    <script type="text/javascript" src="~/Content/Files/交流专区_files/swiper.min.js"></script>
    <script src="~/Scripts/Common/common.js"></script>
    <style type="text/css">
        .mui-bar {
            position: fixed;
            right: 0;
            left: 0;
            z-index: 10;
            height: 44px;
            padding-right: 10px;
            padding-left: 10px;
            background-color: #f7f7f7;
            border-bottom: 0;
            -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.85);
            box-shadow: 0 0 1px rgba(0, 0, 0, 0.85);
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
        }

        .mui-bar-footer {
            bottom: 0;
        }

        .clearListStyle {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        .mui-bar {
            background-color: #FFF;
            box-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 0 5px rgba(0, 0, 0, 0.1);
        }

        .nav-bottom {
            height: 50px;
            padding: 0;
            font-size: 12px;
            background: #fff;
        }

            .nav-bottom li {
                width: 25%;
                height: 100%;
                float: left;
                text-align: center;
                position: relative;
            }

            .nav-bottom a {
                height: 100%;
                display: block;
                color: #555;
            }

            .nav-bottom .mui-badge {
                margin: -5px 0 0 3px;
                position: absolute;
                left: 50%;
                top: 0;
            }

            .nav-bottom .iconfont {
                display: block;
                font-size: 20px;
                margin: 7px 0 0;
                line-height: 21px;
            }

            .nav-bottom li.active a {
                color: #d2562f;
            }

        .indexsearch {
            height: 40px;
            margin: 10px;
            background-color: #fff;
            border-radius: 5px;
        }

            .indexsearch input {
                height: 40px;
                margin: 0;
                background: none;
                border: none;
                font-size: 14px;
                color: #333;
                padding: 10px 15px;
            }

                .indexsearch input::-webkit-input-placeholder {
                    color: #999;
                }

            .indexsearch button {
                width: 80px;
                padding: 0 10px;
                height: 38px;
                background-color: #08C1B0;
                color: #fff;
                padding: 0;
                border: none;
                font-size: 18px;
            }

        .display-box {
            display: -webkit-box;
            -webkit-box-orient: horizontal;
            -webkit-box-pack: center;
            -webkit-box-align: center;
        }

        .display-box-v {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-box-pack: center;
            -webkit-box-align: center;
        }

            .display-box > *, .display-box-v > * {
                display: block;
            }

        .box-flex-1 {
            display: block;
            -webkit-box-flex: 1;
            -moz-box-flex: 1;
            -ms-box-flex: 1;
            box-flex: 1;
        }

        .label {
            font-size: 15px;
            line-height: 24px;
            background: #ff962d;
            color: #fff;
            position: absolute;
            right: 0;
            top: 0;
            z-Index: 2;
            padding: 0px 20px;
            -webkit-transform-origin: left bottom;
            -moz-transform-origin: left bottom;
            transform-origin: left bottom;
            -webkit-transform: translate(29.29%,-100%) rotate(45deg);
            -moz-transform: translate(29.29%,-100%) rotate(45deg);
            transform: translate(29.29%,-100%) rotate(45deg);
            text-indent: 0;
        }

        .addtopic {
            display: block;
            position: fixed;
            right: 5px;
            top: 48%;
            font-size: 26px;
            color: #fff;
            background: #1aad19;
            width: 50px;
            height: 50px;
            line-height: 50px;
            border-radius: 50%;
            z-index: 5;
            text-align: center;
        }

        .img1-1 img {
            position: relative;
            max-height: 150px;
            overflow: hidden;
        }

        .img1-1:after {
            display: none;
        }

        #tab-list {
            padding-bottom: 60px;
        }

        #ul1 {
            border-bottom: 2px solid #8B4513;
            padding-left: 8px;
            margin: 0;
        }

            #ul1 li {
                display: inline-block;
                width: 30%;
                line-height: 30px;
                text-align: center;
                border: 1px solid #999;
                border-bottom: none;
                margin-left: 5px;
            }

                #ul1 li:hover {
                    cursor: pointer;
                }

                #ul1 li.active {
                    border-top: 2px solid #8B4513;
                    border-bottom: 2px solid #FFFFFF;
                }

        #tab-list div {
            border-top: none;
        }

            #tab-list div li {
                line-height: 30px;
                list-style: none;
                position: relative;
                overflow: hidden;
                border-bottom: 1px solid #ddd;
            }

                #tab-list div li p {
                    padding: 0px 0 0px 15px;
                    padding-right: 15px;
                }

        .show {
            display: block;
        }

        .hide {
            display: none;
        }

        .searchinput {
            width: 70% !important;
            background: #fff !important;
            margin: 10px 0 0 10px !important;
            text-align: left !important;
            font-size: 14px !important;
            height: 34px;
            border-radius: 6px;
            border: none;
            text-indent: 15px;
        }

        .banner {
            margin: 0 !important;
        }

        .listdetail {
            background: #fff;
        }

            .listdetail ul {
                margin-top: 0;
                margin-bottom: 0;
            }

                .listdetail ul li {
                    padding-bottom: 10px;
                    padding-top: 10px;
                }

        .liulanliang, .zuozhe, .liulanliangone, .zuozheone {
            float: left;
            width: 50%;
        }


        .liulanliangone {
            position: relative;
            right: -84px;
        }

        .listdetail p span {
            padding-left: 7px;
        }

            .listdetail p span:first-child {
                padding-left: 0;
            }

        .list1 {
            position: relative;
        }

        .photoone {
            position: absolute;
            top: 14px;
        }

            .photoone img {
                width: 70px;
                height: 70px;
                border-radius: 7px;
            }

        .newsListone {
            padding-left: 100px !important;
            line-height: 22px;
            height: 44px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
    </style>
</head>
<body ontouchstart="">


    <a href="/Forum/Add" class="addtopic"><i class="iconfont icon-icon_fabu"></i></a>

    <footer class="mui-bar mui-bar-footer nav-bottom">
        <ul class="clearListStyle mui-clearfix">
            <li><a href="/Loan/Index"><span class="iconfont icon-shouye"></span>首页</a></li>
            <li class="active"><a href="/Forum/Index"><span class="iconfont icon-icon_replieslist"></span>交流专区</a></li>
            <li><a href="/News/Index"><span class="iconfont icon-weibiaoti35"></span>财经</a></li>
            <li><a href="/Me/Index"><span class="iconfont icon-wode"></span>我的</a></li>
        </ul>
    </footer>


    <div class="weui-content" style="margin-bottom: 50px;">
        <!--banner-->
        <div class="banner">
            <div class="swiper-container swiper-container-horizontal">
                <div class="swiper-wrapper" style="transition-duration: 0ms; transform: translate3d(0px, 0px, 0px);height:160px;">
                    <div class="swiper-slide" style="width: 375px;">
                        <a href="#">
                            <img style="min-height: 188px;height:160px;" src="~/Content/Images/luntan/luntantop1.jpg">
                        </a>
                    </div>
                    <div class="swiper-slide" style="width: 375px;">
                        <a href="#">
                            <img style="min-height: 188px;height:160px;" src="~/Content/Images/luntan/luntantop2.jpg">
                        </a>
                    </div>
                    <div class="swiper-slide" style="width: 375px;">
                        <a href="#">
                            <img style="min-height: 188px;height:160px;" src="~/Content/Images/luntan/luntantop3.jpg">
                        </a>
                    </div>
                </div>
                <div class="swiper-pagination">
                    <span class="swiper-pagination-bullet swiper-pagination-bullet-active">
                    </span>
                    <span class="swiper-pagination-bullet">
                    </span>
                    <span class="swiper-pagination-bullet "></span>
                </div>
            </div>
        </div>
        <!--搜索-->
        <div>
            <input type="search" class="searchinput" placeholder="请输入文章标题关键字">
            <button style="line-height: 1.42 !important;margin: 10px 0 10px 10px;width:21%;padding: 6px 12px;border:1px solid #ccc;background:#fff;">搜索</button>
        </div>
        <!--内容-->
        <div id="tab-list">
            <ul id="ul1">
                <li class="active">热门口子</li>
                <li>信用卡科技</li>
                <li>视频技术</li>
            </ul>

            <!--热门口子-->
            <div >
                <ul style="padding-inline-start: 0px;" class="dataul1">
                    <li class="list2">
                    </li>
                </ul>
            </div>

            <!--信用卡科技-->
            <div class="hide">
                <ul style="padding-inline-start: 0px;"class="dataul1">
                    <li class="list3">
                    </li>
                </ul>
            </div>

            <!--视频技术-->
            <div class="hide">
                <ul style="padding-inline-start: 0px;"class="dataul1">
                    <li class="list4">
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <script src="~/Content/Files/交流专区_files/dropload.js"></script>

    <script type="text/javascript" src="~/Content/Files/最新口子_files/jquery-2.2.3.min.js"></script>
    <script src="~/Content/Files/U享圈_files/swiper.3.1.2.jquery.min.js"></script>
    <link rel="stylesheet" href="~/Content/Files/U享圈_files/swiper.3.1.2.min.css">
    <script>
        //轮播
        var banner_swiper = new Swiper('.banner .swiper-container', {
            pagination: '.banner .swiper-pagination',
            autoplay: 3000
        });

        // tab 切换
        window.onload = function () {
            
            var oUl1 = document.getElementById("ul1");
            var aLi = oUl1.getElementsByTagName("li");
            var oDiv = document.getElementById("tab-list");
            var aDiv = oDiv.getElementsByTagName("div");
            for (var i = 0; i < aLi.length; i++) {
                aLi[i].index = i;
                aLi[i].onmouseover = function () {
                    for (var i = 0; i < aLi.length; i++) {
                        aLi[i].className = "";
                    }
                    this.className = "active";
                    for (var j = 0; j < aDiv.length; j++) {
                        aDiv[j].className = "hide";
                    }
                    aDiv[this.index].className = "show";
                }
            }
        }

    </script>
    <script>
        $(function () {
            init();
            function init() {
                //获取列表 - list2
                $.ajax({
                    url: "/api/HeiKeji",
                    data: { type: "热门口子" },
                    type: 'Get',
                    success: function (data) {
                        var html = "";
                        if (data) {
                            for (var i = 0; i < data.length; i++) {
                                html += "<li class='list1'>";
                                html += "<p class='newsListone'>";
                                html += "<a href='/News/NewsDetails?no=" + data[i].No + "'>  " + data[i].Title + "  </s>  ";
                                html += " </p>";

                                html += "<p class='photoone'>";
                                html += "<a><img class='CarryImg'  src='" + data[i].CarryImg1 + "' title='附图1'  /></a>";
                                html += "</p>";

                                html += "<p class='liulanliangone'>";
                                html += "<a>";
                                html += "<span>浏览量</span><span>" + data[i].ViewCount + "</span>";
                                html += "</a>";
                                html += "</p>";

                                html += "<p class='zuozheone'>";
                                html += "<a>";
                                html += "<span>作者</span><span>" + data[i].CreateUserNickName + "</span>";
                                html += "</a>";
                                html += "</p>";
                                html += "</li>";
                            }
                        } else {
                            html += "<li>";
                            html += "无数据";
                            html += "</li>";
                        }
                        $(".dataul1").html(html);
                    },
                    error: function (e) {
                        console.error("服务器异常" + e);
                    }
                });

                //获取列表 - list3
                $.ajax({
                    url: "/api/HeiKeji",
                    data: { type: "信用卡科技" },
                    type: 'Get',
                    success: function (data) {

                        var html = "";
                        if (data) {
                            for (var i = 0; i < data.length; i++) {
                                html += "<li class='list1'>";
                                html += "<p class='newsListone'>";
                                html += "<a href='/News/NewsDetails?no=" + data[i].No + "'>  " + data[i].Title + "  </s>  ";
                                html += " </p>";

                                html += "<p class='photoone'>";
                                html += "<a><img class='CarryImg'  src='" + data[i].CarryImg1 + "' title='附图1'  /></a>";
                                html += "</p>";

                                html += "<p class='liulanliangone'>";
                                html += "<a>";
                                html += "<span>浏览量</span><span>" + data[i].ViewCount + "</span>";
                                html += "</a>";
                                html += "</p>";

                                html += "<p class='zuozheone'>";
                                html += "<a>";
                                html += "<span>作者</span><span>" + data[i].CreateUserNickName + "</span>";
                                html += "</a>";
                                html += "</p>";
                                html += "</li>";
                            }
                        } else {
                            html += "<li>";
                            html += "无数据";
                            html += "</li>";
                        }
                        $(".dataul2").html(html);
                    },
                    error: function (e) {
                        console.error("服务器异常" + e);
                    }
                });

                //获取列表 - list4
                $.ajax({
                    url: "/api/HeiKeji",
                    data: { type: "视频技术" },
                    type: 'Get',
                    success: function (data) {

                        var html = "";
                        if (data) {
                            for (var i = 0; i < data.length; i++) {
                                html += "<li class='list1'>";
                                html += "<p class='newsListone'>";
                                html += "<a href='/News/NewsDetails?no=" + data[i].No + "'>  " + data[i].Title + "  </s>  ";
                                html += " </p>";

                                html += "<p class='photoone'>";
                                html += "<a><img class='CarryImg'  src='" + data[i].CarryImg1 + "' title='附图1'  /></a>";
                                html += "</p>";

                                html += "<p class='liulanliangone'>";
                                html += "<a>";
                                html += "<span>浏览量</span><span>" + data[i].ViewCount + "</span>";
                                html += "</a>";
                                html += "</p>";

                                html += "<p class='zuozheone'>";
                                html += "<a>";
                                html += "<span>作者</span><span>" + data[i].CreateUserNickName + "</span>";
                                html += "</a>";
                                html += "</p>";
                                html += "</li>";
                            }
                        } else {
                            html += "<li>";
                            html += "无数据";
                            html += "</li>";
                        }
                        $(".dataul3").html(html);
                    },
                    error: function (e) {
                        console.error("服务器异常" + e);
                    }
                });

            }
        });


        //搜索
        function Search() {
            var str = $(".keyword").val();
            if (!str || str.length == 0 || str == "") {
                alert("请输入查询关键字");
                return;
            }
            //window.location.href = "/News/SearchCaijing?keyword=" + str;
            window.open("/News/SearchCaijing?keyword=" + str);
        }

    </script>


</body>
</html>